[2014-07-09 14:25] martinhbramwell opened #1 "Lack of compatibility/installation information."
There is neither information about which Odoo versions will allow GeoSpatial to run correctly, nor a link to a complete installation procedure (or "getting started")  document, nor a dependencies list (PostGIS?).

[2014-07-09 14:41] ovnicraft commented on #1
AFAIK run ok with 6.1, C2C company release a survey to improve 7.0 version.
https://www.camptocamp.com/en/actualite/openerp-geoengine-your-map-view-for-openerp-7-0-and-8-0/

[2014-07-09 14:42] nbessi commented on #1
Hello

There is a doc folder inside the repository, with the documentation. At that time only version 6.1 of odoo is fully supported. I have planned to use github wiki for the documentation. It will be udpated beginig of august, after the holidays period.

Regards

[2014-07-09 14:45] nbessi commented on #1
I forgot to post the documentation link:

https://github.com/OCA/geospatial/tree/6.1/base_geoengine/doc/source

Regards

[2014-07-09 14:45] #1 closed, assigned to nobody

[2014-07-09 14:49] ovnicraft commented on #1
@nbessi any date planned to test at 7.0 ?

[2014-07-09 14:59] nbessi commented on #1
@ovnicraft

Previous versions of Geoengine were more based on a prototype approach to understand user needs.

For the future of the module we have two main trends

# Major Evolution And Refactor:

 It will be based on functional needs and experience that have been gathered.
  In order to do this, ressource has to be found.

Following options seems reasonable.
- Doing a crowd funding
- Getting more

[2014-07-09 15:03] ovnicraft commented on #1
@nbessi in our company we are really interested we have gov customers  who have odoo and GIS systems to manage land registers we have 2 options integrate with a new django app or do it on odoo we can dedicate a one full time resource for this.
So i stay tuned here.

Thanks for spatial !

[2014-09-16 09:34] javi-ingeos opened #2 "base_geoengine_demo: javascript errors"
[openerp 6.1 > base_geoengine_demo]

I am getting some javascript errors when accessing geoengine view and geo_edit_map widget

In geoengine view, when there is no record, I get:
- TypeError: f is undefined (firefox 30.0)
- Uncaught TypeError: Cannot read property 'attributes' of undefined (chrome 35.0, opera 22.0)

To reproduce on base_geoengine_demo:
- Open geoengine.demo.automatic.retailing.mac

[2014-10-17 16:20] ovnicraft commented on #1
@nbessi Any news about 7.0 ?

[2014-10-22 08:09] nbessi commented on #1
Hello,

At that time there is not enough resources available for the project.
GIS is a really specific domain and there is not a lot of people that know
Odoo and GIS. Without a concrete  funding, resources the project will probably stay on minimal activity level for a while.

At that time for OCA, I am mostly engaged on the port of the swiss localisation for V8.0

Once finished, I will came back t

[2014-10-23 15:46] javi-ingeos commented on #2
Have we any news on this?

[2014-10-30 19:30] ovnicraft commented on #1
@nbessi I am reading code and checking this, let me first has better control over geoengine then i will make a PR an you help me on this.

[2014-10-31 12:58] nbessi commented on #1
@ovnicraft cool :)

[2014-12-30 11:16] javi-ingeos commented on #2
Have we any news on this?

[2015-01-28 02:16] codeadict commented on #1
Any advance on that @nbessi @rvalyi @ovnicraft im also interested on help i see a 7.0 branch here is this functional??

[2015-01-28 09:23] nbessi commented on #2
Hello,

Please refer to issue  https://github.com/OCA/geospatial/issues/1
Due to lack of resources the project is actually in hibernation. We will accept and review any patch but
as long there is no more contributor fix will probably not arrive.

If you explicitly need a fix you can try to contact an OCA/Odoo partner to provide some help.

Regards

Nicolas

[2015-01-28 09:24] nbessi opened #6 "Add a note on status Readme about project state"
see https://github.com/OCA/geospatial/issues/1 form more details

[2015-01-29 21:51] ovnicraft commented on #1
@codeadict not yet, i am working on but i have not time this week, i could push in next week.

[2015-01-29 22:50] codeadict commented on #1
Any good advance, can we create issues to define scope and work on this and not work on same stuff

[2015-01-30 07:24] nbessi opened #8 "Set branch 8.0 as default and remove master"
Hello,

Can somebody with the right correct the branches?

Thanks

[2015-01-30 10:04] yvaucher commented on #8
cc @jgrandguillaume @elicoidal @StefanRijnhart @max3903 @nhomar @sebastienbeau @gurneyalex

[2015-01-31 11:12] diassynthesis opened #9 "V7.0: VIEW_TYPE - Side Effect !!!"
Now, after some modifications i can install **base_geoengine** module (i will submit a PR for V7.0).
But there is a strange issue after installing it.
All seems to working fine, but when restarting the server, i get the following error(and I can no longer log me into the server):
-------Start Error Log:
File "/usr/lib/pymodules/python2.7/openerp/osv/orm.py", line 948, in create_instance
    obj.**

[2015-02-02 10:19] StefanRijnhart commented on #8
Done

[2015-02-02 10:19] #8 closed, assigned to nobody

[2015-02-20 12:38] yvaucher opened #18 "Setup travis on 8.0 branch"

[2015-03-04 09:55] lmignon opened #23 "V8 migration"
Works started on https://github.com/acsone/geospatial/tree/8.0-migrate-from-7.0

[2015-03-06 09:41] lmignon commented on #23
Current status:
- [x] Forward port changes from PR #16
- [x] Defines Fields for specialized geo columns
- [x] Migrate to the new API
- [ ] Extract description in `__openerp__.py` to README.rst
- [ ] Use an init hook to initialize postgis extension at install
- [ ] Move icons to static/description
- [ ] Fix issues when google is used as Raster Layer Type
- [ ] Fix issues when the map is displayed f

[2015-03-16 08:49] yvaucher commented on #9
@diassynthesis Please have a look at https://github.com/OCA/geospatial/tree/7.0

Geoengine 7.0 was ported few days ago.

Thus I close your issue, feel free to reopen it if you still experience it with current ported version.

[2015-03-16 08:49] #9 closed, assigned to nobody

[2015-03-24 14:09] fredj opened #26 "Use mapbox api v4"
The v3 version is deprecated

todo:
- [ ] add a new `mapbox_token` text field in [geo_raster_layer.py](https://github.com/OCA/geospatial/blob/7.0/base_geoengine/geo_view/geo_raster_layer.py)
- [ ] update [url list](https://github.com/OCA/geospatial/blob/7.0/base_geoengine/static/src/js/geoengine_view.js#L91-L94) to have something like `"https://a.tiles.mapbox.com/v3/" + l.mapbox_id + "/${z}/${x}/$

[2015-03-27 17:39] codeadict commented on #23
Hey @lmignon im wanting to work on this  issues

[2015-03-27 19:10] lmignon commented on #23
@codeadict the work is done. Take a look at https://github.com/OCA/geospatial/pull/24. But the field definitions are broken due to a recent change in odoo.

[2015-03-27 19:20] codeadict commented on #23
cool hope this issues get merged soon y u can merge also #24, by the way
are you using openlayers3 or still old one??

2015-03-27 14:10 GMT-05:00 Laurent Mignon (ACSONE) <notifications@github.com

##

_Dairon Medina CaroOpenSource Consultantwww.gydsystems.com
http://www.gydsystems.com__email:_ info@gydsystems.com
_weblog:_ http://www.dairon.org
_mobile:_ _(+593)_-987612278
_LinkedIn:_ http://linke

[2015-06-02 07:27] nbessi opened #32 "the geo_localize function goes against googlemap api term of use"
AFAIK you are not allowed to store coordinate that are provided by google.
This must be confirmed and corrected.

[2015-06-02 07:40] lmignon commented on #32
Latitude and longitude are stored by odoo itself. As you said this must be confirmed.

[2015-06-02 08:43] lmignon commented on #32
As specified in https://developers.google.com/maps/documentation/geocoding/#Limits

[2015-06-02 08:47] lmignon commented on #32
More precisely: https://developers.google.com/maps/terms#section_10_1_3

[2015-06-02 14:27] lmignon commented on #32
https://github.com/OCA/geospatial/pull/34 provides an alternative to google. The coordinates are queried using the Nominatim service offered by OpenStreetMap

[2015-06-02 16:01] lmignon opened #35 "Search on non stored field declared with new API fails"
[code]

base_geoengine/geo_operators.py", line 111, in geo_search
    func = _get_geo_func(model, domain)
  File "/home/lmi/projects/openerp/odoo-geospatial/geospatial/base_geoengine/geo_operators.py", line 32, in _get_geo_func
    current_field = model._columns[domain[0]]
KeyError: 'geo_point'

[2015-06-02 16:03] nbessi commented on #35
:cry: confirmed

[2015-06-03 10:26] lmignon commented on #32
@nbessi can be closed since #34 is merged.

[2015-06-04 07:41] #32 closed, assigned to nobody

[2015-06-04 15:05] nbessi opened #36 ""Localize addresses from GeoNames" menu is broken"

[2015-06-09 07:57] lmignon commented on #23
@nbessi This one can be closed :smirk:

[2015-06-09 08:30] #23 closed, assigned to nobody

[2015-06-09 08:31] nbessi commented on #23
@lmignon done :wink:

[2015-06-10 22:17] ovnicraft opened #37 "Error loading geo modules"
I am trying to use 7.0
- Checkout 7.0 version
- add geospatial folder to addons-path, loading get this output: https://gist.github.com/anonymous/fa75990cc760a6dfe4ed

So i edit **init** file removing from . and let import FILE an get this error: https://gist.github.com/anonymous/0482cf6222eec11bd225

[2015-06-13 13:47] ghost opened #38 "[8.0] TypeError: _setup_fields() got an unexpected keyword argument 'partial'"
When I start the installation of the module : Geospatial support for OpenERP

I got this message : "TypeError: _setup_fields() got an unexpected keyword argument 'partial'"

Can anyone help ?

Full thanks,

[2015-06-22 13:30] krachtvoll commented on #38
Got the same problem here.

This is the full error:

Traceback (most recent call last):
  File "/home/openerp/odoo/openerp/http.py", line 500, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/openerp/odoo/openerp/http.py", line 517, in dispatch
    result = self._call_function(*_self.params)
  File "/home/openerp/odoo/openerp/http.py", line 283, i

[2015-06-23 15:27] krawser commented on #38
Hi

I also get the error:
TypeError: _setup_fields() got an unexpected keyword argument 'partial'

When trying to install one of the geoengine / geospatial apps....

Thanks

[2015-06-23 19:54] lasley opened #40 "HTTP URIs not compatible with HSTS"
HTTP URIs are being provided for static assets, which throws Mixed Content errors on a secured site. The fix is easy enough, relative scheme "//" should be used instead of "http://"

I forked the repo and will submit a pull request once i finish testing.

[2015-06-23 21:08] lmignon opened #42 "Use openlayers 3"
Work started on https://github.com/acsone/geospatial/tree/8.0-ol3-lmi

[2015-06-29 07:17] nbessi commented on #38
Hello,

It is probably due to a change in Odoo "core". It need some time to investigate.

[2015-07-02 09:29] damdam-s opened #43 "Demo data doesn't load (SRID error)"
System configuration :
postgresql-9.4
postgis 2.1
shapely==1.5.9
geojson==1.2.1

2015-07-02 09:13:12,226 29742 INFO XXX openerp.modules.loading: loading base_geoengine_demo/data/retail_machine_geom.xml
2015-07-02 09:13:12,231 29742 ERROR XXX openerp.sql_db: bad query: INSERT INTO "geoengine_demo_automatic_retailing_machine" ("id", "money_level", "state", "total_sales", "name", "the_point", "create

[2015-07-02 12:12] lmignon commented on #43
@damdam-s  do you have applied https://github.com/odoo/odoo/pull/5620 ?

[2015-07-02 12:24] damdam-s commented on #43
@lmignon thanks.

With your PR, it works.

[2015-07-04 18:10] akram1 opened #45 "Unmet dependencies: crm"
First module to install of OCA/geospatial is Geospatial support of partners right after fresh build of Odoo July,3 2015. Installing went fine but with some error: CRM and base_geolocalize not installed
geoengine_partner
Uninstall the module failed with Unmet dependencies: crm

So I had to install CRM manually. Uninstall Geospatial support of partners and tried to Geospatial support for base_geoloc

[2015-07-04 18:17] akram1 opened #46 "Geo Spatial support demo failed to install"
I use Odoo 8 build July 2015 and latest geospatial. After installing all modules, I installed support demo module but failed and gave this error

Odoo Server Error

Traceback (most recent call last):
  File "/media/akram/Data/projects/servers/Odoo/odoo8/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/media/akram/Data/projec

[2015-07-04 18:45] lmignon commented on #46
@akram1 see #43 and the provided solution

[2015-07-15 21:31] dreispt opened #47 "base_geoengine fails to install"
I'm testing the Geoengine project, but unfortunately am having trouble with the base module.
Yes, i read and followed the docs: installed postgis, pyhton dependencies, created a db to use, created the extensions on it, and cherry-picked odoo/#5620 (odoo/#5618 is already merged).

Nevertheless I still get this error when installing `base_geoengine` (with demo data):

[code]

Thanks in advance for y

[2015-07-16 07:27] lmignon commented on #47
@dreispt by reading the stack trace it seems that your problem is related to the version used for shapely or a related lib. '2 r3921'

[2015-07-16 07:54] dreispt commented on #47
Thanks.
I followed the [install instructions](http://oca.github.io/geospatial/prerequisite.html#postgis-2-0):

[code]

And I have:

[code]

Any clue on where should I look next?

[2015-07-16 08:26] lmignon commented on #47
@dreispt Can you try with the latest version of shapely? (1.5.9) The one referenced in the documentation is old and I personally use the latest version of shapely

[2015-07-16 08:54] dreispt commented on #47
Yes, that solved, thanks for your help.
Doing a PR to fix the docs.

[2015-07-16 22:17] dreispt opened #49 "Where to host geospatial module related to another OCA project?"
I'm writing a module to add geospatial features to modules from the `OCA/project-service` repo.
Should it be hosted here or there?

[2015-07-17 07:04] lmignon commented on #49
@dreispt IMO it should be here. A  first PR #27 exist to geolocalise project.

[2015-07-17 07:24] dreispt commented on #49
I slept over this and came convinced otherwise.
But maybe we're both can be right.
Here is my criteria proposal:
- Geospatial should host the core features plus the extensions to Odoo core addons, such as sale, and project
- Extensions specific (requiring) to other OCA projects should be hosted there.

[2015-07-17 08:04] lmignon commented on #49
@dreispt  :+1:  make sense

[2015-07-17 10:45] dreispt commented on #49
In project-server, a `location_id` field is added to Tasks, so that you can tell the address where the service is needed. With that and geoengine, we can visualize the open Tasks in a map.
I'll need to make sure the TravisCI setup on tat repo is capable of installing goengine modules.

[2015-07-20 13:43] ovnicraft commented on #49
@dreispt i suggest OCA/geospatial-extras enough by now, any can of repo can be hosted there.

[2015-07-21 06:38] #47 closed, assigned to dreispt

[2015-07-25 13:53] fadeldamen opened #50 "error install geo demo data in odoo 8"
raise ValueError('External ID not found in the system: %s' % (xmlid))
ParseError: "External ID not found in the system: base_geoengine_demo.field_dummy_zip_total_sales" while parsing /home/fadel/desarrollo/geospatial/base_geoengine_demo/zip_view.xml:71, near
<record id="geoengine_vector_layer_coloredrangetest0" model="geoengine.vector.layer">
            <field name="geo_field_id" ref="base_geoeng

[2015-07-26 08:41] lmignon commented on #50
@fadeldamen it seems you use an old version of odoo previous to the merge of https://github.com/odoo/odoo/pull/5618

[2015-08-14 11:14] jacksolutions commented on #50
i have odoo8 and on fresh install of new DB i am getting below error when updating modules list

2015-08-14 11:12:18,176 10580 ERROR postgis openerp.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/opt/odoo/odoo-server/openerp/http.py", line 530, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo-ser

[2015-08-14 11:15] jacksolutions commented on #50
just to confirm, i have installed postgis, shapely and geojson too.

[2015-08-14 11:29] lmignon commented on #50
@jacksolutions Do you have a fresh install of Odoo 8.0 (not only a new DB but do you have the sources of Odoo up to date)?

[2015-08-14 11:40] jacksolutions commented on #50
yes i have odoo 8.0 latest sources and odoo is up to date.

On Fri, Aug 14, 2015 at 4:59 PM, Laurent Mignon (ACSONE) <
notifications@github.com> wrote:

##

Cheers,

Jaykishan Vansadawala
(Jack Solutions)
Mob:- +91-9879455635

[2015-08-14 13:04] rjpathan opened #52 "Script error : This page is trying to load scripts from unauthenticated sources"
Hello,

I have installed geo modules but some scripts don't load automatically.
Rather I get "This page is trying to load scripts from unauthentic sources". So I have to manually click on "Load unsafe scripts" to allow geo module work.
Please check screenshot attached.

Any suggestions?

Thanks

Regards
Riyaj
![geo_load_err](https://cloud.githubusercontent.com/assets/6248084/9274396/1bd65950-42b3-

[2015-08-14 13:09] lmignon commented on #40
@nbessi this one can be closed.

[2015-08-14 13:11] lmignon commented on #52
@rjpathan Is your sources up to date? A fix has been applied in 3c034a8 to avoid this kind of problem.

[2015-08-14 13:25] rjpathan commented on #52
I updated my sources (fix was missing), and also upgraded base_geoengine module. But still issue persist.

[2015-08-14 13:29] lmignon commented on #52
@rjpathan do you have reloaded the page after the upgrade,  clear the cache of your browser and restarted the server and empty  (Just to be sure that the Js loaded by your browser is up to date)

[2015-08-14 13:53] rjpathan commented on #52
Tried with restarting odoo, reloading page, upgrading module and checking again after deleting browser cache. But still error notification shows up.

[2015-08-14 14:03] lmignon commented on #52
@rjpathan can you check what's the unauthenticated resources that your browser try to access?

[2015-08-14 14:38] rjpathan commented on #52
Sorry, not sure how to find it out.

On Firefox, it shows different message:
![firefox_geo_err](https://cloud.githubusercontent.com/assets/6248084/9276163/eb17767a-42bf-11e5-9ee3-04d80a221094.png)

[2015-08-14 14:48] lmignon commented on #52
@rjpathan In your last screenshot, they are nothing related to geoengine displayed on the page. Do you have the same error when you access others menus on your instance? Without knowing the url that your browser try to access It's hard to find what happens.

[2015-08-14 14:55] rjpathan commented on #52
Everything else works fine except that geoengine view and form having geopoint field which raises following js error: (it doesn't allow to create/edit new records and map shows blank)
![geo_err_form](https://cloud.githubusercontent.com/assets/6248084/9276625/c3f54088-42c2-11e5-9cd2-564e9b2d18b6.png)

[2015-08-14 15:41] lmignon commented on #52
@rjpathan which version of odoo are you using? 7.0 or 8.0

[2015-08-14 16:07] #40 closed, assigned to nobody

[2015-08-14 16:25] rjpathan commented on #52
I'm using version 8.0

[2015-08-14 16:27] lmignon commented on #52
@rjpathan it's really strange is like you use an old version of the geoengine addons... I don't understand what's happen

[2015-08-14 17:02] rjpathan commented on #52
I will check again with latest geoengine modules and report back here.

[2015-08-21 13:40] rjpathan commented on #52
Hello, today I downloaded latest modules from github branch and created new database (after deleting browser cache). Everything was ok, but then just installed base_geoengine module, and the error appeared as shown in previous messages.

[2015-08-21 13:49] lmignon commented on #52
@rjpathan can you check that everything is OK with our test server http://3111947-8-0-6face2.runbot2.odoo-community.org/
May be you can try to replace google by OpenStreetMap as raster layer type in the layer management list. GeoEngine backend -> Raster Layer Management.
May be a stupid question but do you have access to google services in your country?

[2015-08-21 13:55] rjpathan commented on #52
Everything works perfect on http://3111947-8-0-6face2.runbot2.odoo-community.org/
Let me try with other suggestion i.e. replacing google by OpenStreetMap as raster layer type.

Yes, I can access all google services here.

[2015-08-21 14:58] lmignon commented on #52
@rjpathan http://3111947-8-0-6face2.runbot2.odoo-community.org/  is an Odoo 8.0 server with the geoengine 8.0 branch

[2015-08-21 15:10] rjpathan commented on #52
Yes, I am using geospatial 8.0 branch on Odoo 8.

[2015-08-21 15:13] lmignon commented on #52
@rjpathan What's the result when you replace google by OpeneStreetMap. Is your map displayed? Can you also try to install the geoegine_demon on en empty db without your custom addons?

[2015-08-21 16:29] rjpathan commented on #52
If I change raster layer type from google to oms OpenStreetMap then it works. Although, on browser address bar, notification icon remains there for "Load Unsafe scripts".

[2015-09-15 12:49] riess82 opened #53 "Missing link to geoengine_geoname_geocoder wizard in v7"
I managed to install the prerequisites and the modules in v7 after some trial and error, but i can't display the link for the wizard in the menu.
The headline "Localize addresses from GeoNames" is shown, but there is nothing below.

[2015-09-17 11:44] lmignon commented on #53
@riess82 Is your user member of the group 'Geoengine user'  or 'Geoengine admin'?

[2015-09-17 11:52] riess82 commented on #53
Yes, i am trying with admin user, and checked both checkboxes for Geo user and Geo admin. I can see the menuitems for View Management, for example.

[2015-09-17 11:55] lmignon commented on #53
@riess82 Do you have enabled the geocoding on you user's company?

[2015-09-17 11:56] #46 closed, assigned to nobody

[2015-09-17 11:57] #43 closed, assigned to nobody

[2015-09-17 11:58] lmignon commented on #50
@fadeldamen Is your problem solved?

[2015-09-17 11:59] lmignon commented on #37
@ovnicraft Can I close this one?

[2015-09-17 12:21] fadeldamen commented on #50
sorry yes I update odoo server and solved problem

2015-09-17 7:58 GMT-04:00 Laurent Mignon (ACSONE) notifications@github.com
:

[2015-09-17 12:27] riess82 commented on #53
Yes, i have. I can even use the wizard when i search the wizard id in the database and type the url manually.

[2015-09-17 12:39] lmignon commented on #50
@fadeldamen Thank you for the feedback.

[2015-09-17 12:39] #50 closed, assigned to nobody

[2015-09-18 09:28] riess82 commented on #53
Now that i was looking for something else,I found that this is a duplicate from #36

[2015-09-18 09:49] riess82 opened #54 "Grouping in Sales View"
My personal opinion is, that the sales view is not worth anything, if it can't be combined with the grouping mechanism used in the list view.

Why would i want to see [insert number of sales here] different sized circles above each other in a customers location?

The camp2camp website sound as if there might be a possibility for grouping...

[2015-09-21 17:01] #37 closed, assigned to nobody

[2015-09-30 13:14] gurneyalex opened #55 "[8.0] geometry edition bug"
steps to reproduce:
- connect on the geospatial project on https://runbot.odoo-community.org/runbot/repo/github-com-oca-geospatial-115
- go to Geoengine Demo -> ZIP
- create a new ZIP

Expected behavior: I should be able to shift click on the map to draw an area whiile in edit mode

Actual behavior: I cannot draw a polygon while in edit mode. However if I input a zip and a city name and click on t

[2015-10-14 00:25] pedrobaeza opened #56 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] geoengine_project
- [ ] geoengine_sale
- [x] base_geoengine @yvaucher https://github.com/OCA/geospatial/pull/60
- [x] base_geoengine_demo @yvaucher https://github.com/OCA/geospatial/pull/60
- [ ] geoengine_geoname_geocoder
- [ ] geoengine_base_geolocalize @JonathanNEMRY https://github.com/OCA/g

[2015-10-15 21:06] msdgithub commented on #50
I do have the same issue as reported by jacksolutions. I have the latest version of odoo 8 running. however, i can not make it work. Any ideas how to fix the problem?
I am not sure if this part mentioned in the installation guide has to do with it:
http://oca.github.io/geospatial/installation.html
Thanks for all your help!

[2015-10-16 07:12] lmignon commented on #50
@msdgithub The part mentioned in the installation (merging PR https://github.com/odoo/odoo/pull/5620)  is a prerequisite to have the module working. Do you have applied these changes  into your Odoo 8?

[2015-10-18 10:23] ghost commented on #38
Is there any progress on this issue, we have encountered the same issue

[2015-10-19 07:55] lmignon commented on #38
@befksbuild no progress since I'm not able to reproduce the problem on a fresh install.

[2015-10-24 13:30] pooyakntu opened #57 "NameError: global name 'wkt' is not defined"
module: base_geoengine
version: 8.0

**Steps to reproduce**

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 8.0-20151023\server.\openerp\http.py", line 537, in _handle_exception
  File "C:\Program Files (x86)\Odoo 8.0-20151023\server.\openerp\http.py", line 574, in dispatch
  File "C:\Program Files (x86)\Odoo 8.0-20151023\server.\openerp\http.py", line 310, in _call_functio

[2015-10-26 08:36] lmignon commented on #57
@pooyakntu It seems that you didn't have installed the required dependencies.(see https://github.com/OCA/geospatial#requirements). wkt is provided by shapely.

[2015-11-09 09:07] #57 closed, assigned to nobody

[2015-11-09 09:08] lmignon commented on #57
@pooyakntu Feel free to reopen the issue if the provided answer doesn't solve your problem.

[2015-11-16 13:05] COLABORATI opened #58 "Installation docs insufficient"
The installation docs found [here](http://oca.github.io/geospatial/installation.html) are not sufficient.
Please add a description how to install this product in odoo 8 and odoo 9.

[2015-11-16 13:10] COLABORATI opened #59 "Are these modules available for Tryton?"
Is this module also available for the Tryton project?
Are you planning for releasing this as a tryton addon?

[2015-11-16 13:17] lmignon commented on #58
@COLABORATI This module doesn't work on Odoo 9.  Can you elaborate why the doc is not sufficient and describe your problem?
Regards,
lmi

[2015-11-16 13:20] lmignon commented on #59
@COLABORATI This module is for Odoo. Feel free to develop a specific one for Tryton if you need one.

[2015-11-16 13:20] #59 closed, assigned to nobody

[2015-11-16 13:22] #53 closed, assigned to nobody

[2015-11-16 13:51] COLABORATI commented on #58
It is about installation in odoo 8.
There are actually _no_ instructions available on how to install this module.
[This](https://www.odoo.com/apps/modules/8.0/base_geoengine/) document has exactly _one_ instruction about installing postgis. It then tells the reader that two python modules have to be installed, but it does not tell the reader how to install them and the documentation stops there. I

[2015-11-16 13:58] pedrobaeza commented on #58
If you don't know what is pip, you're missing prerequisites that you must already know. README is not a complete, exhaust guide for you to learn you about OS, python, pip, and so on. You must learn this in their respective areas. But if you make a simple search reveals that you only need to do `sudo apt-get install python-pip` for getting this handy and basic python util.

[2015-11-16 14:42] lmignon commented on #58
@COLABORATI Thank you for your explanation. The documentation is maybe a little bit developer centric.

The geospatial addons take adavantage of the GIS capabilities available for postgres. The first requirement is to install the postgis (http://postgis.net/) extension for your OS. (http://postgis.net/install/)

Additionally, we use two additional python modules to manage this kink of specific dat

[2015-11-16 15:37] pedrobaeza commented on #58
I insist: this shouldn't be an extensive/full steps guide for all the basics, because in this way, someone can say that his/her distribution/OS (CentOS, Fedora, Windows...) is not covered and they don't know how to install dependencies. For me, it's enough as is. Maybe point to any useful link or search for knowing more on other topics, but as said, this is very subjected to the several possible o

[2015-11-16 16:14] COLABORATI commented on #58
The important point was: there is still no information about how to install the actual module.
Of course I understand that not every developer has the capabilities to deliver a professional documentation - I am sure most potential customers do not see this as a problem.

[2015-11-16 16:40] pedrobaeza commented on #58
Just as any other regular Odoo module. This is still out of scope of this repository documentation.

[2015-11-16 16:40] #58 closed, assigned to nobody

[2015-11-17 14:33] yvaucher commented on #56
I'm starting to work on migration of base_geoengine for 9.0
@lmignon

[2015-11-17 14:54] lmignon commented on #56
Thank you in advance @yvaucher I've never found the time to finalize the migration to OpenLayer3 started on https://github.com/acsone/geospatial/tree/8.0-ol3-lmi

[2015-11-18 08:45] lmignon commented on #56
@yvaucher I'm a little bit afraid but it seems that it will not be possible to use these addons on an 9.0 enterprise since we depend of 'web' and in enterprise 'web' is not lgpl. I'm even more worried to see that it will no more be possible to use 'AGPL' addons extending the module 'web' in enterprise. In the case of the module 'web', enterprise is not an extend of community but a relicenced fork.

[2015-11-18 14:21] yvaucher commented on #56
@lmignon For now I'm working on porting it to community version,  I succeeded to display the maps in the widget but I'm having hard time trying to show the map on Geoengine view. You might already want to test with an enterprise if the widget are well displayed.

https://github.com/OCA/geospatial/pull/60

[2015-11-18 15:02] yvaucher opened #61 "offset and domains are useless in render_map?"
This line has a typo on `offset`

https://github.com/OCA/geospatial/blob/8.0/base_geoengine/static/src/js/geoengine_view.js#L450

I'm not making a patch as it seems `self.domains` and `self.offset` are undefined anyway

[2015-11-18 15:04] yvaucher commented on #45
Are you sur your path was correctly set for official addons ? crm is part of them.

[2015-11-25 17:02] yvaucher opened #62 "[8.0] [9.0] geoengine_demo: TypeError: bin.upperBound is undefined on some search"
In demo data, when doing a search by code on retail machines it can raise the following javascript error:

Tested on port of 9.0 and on 8.0

To reproduce:
Open retails machine geoengine view.

Do a search on `3` -> 9 results it works
Do a search on `4` -> 4 results it fails
Do a search on `7` -> 4 results it fails
Remove code 37 do a search on `7`-> 3 results it fails
Remove code 27 do a search on

[2015-11-25 17:14] yvaucher commented on #62
Ok it seems that numClasses is set to 5 in xml, so all search giving between 3 or 4 results will fail. It fails when round(x / 5) == 0

[2015-11-25 17:50] yvaucher commented on #62
Fixed for v9 in https://github.com/OCA/geospatial/pull/60

[2015-11-26 09:37] yvaucher opened #63 "[9.0] [8.0] [7.0] base_geoengine - Google layers are not displayed"
How to reproduce:

With `geoengine_demo` installed (to have some data to play with).
In raster layer management change a raster layer type to google

Display the map selecting this raster layer

Points or shapes are displayed but there is no map.

[2015-11-27 14:32] OEGEM commented on #63
Hi,
same problem even if geoengine_demo is not installed.
Tested with chrome 45 and firefox 42 on ubuntu 14.04

[2015-11-27 14:43] yvaucher commented on #63
@OEGEM Sure it is just the step to simply reproduce it. The issue is definitely in `base_geoengine`

I updated my description.

[2015-12-02 09:22] yvaucher commented on #61
Remove from 9.0 in #60

[2015-12-14 14:20] J1b4y opened #68 "Can't use backup tools from odoo web database manager"
Hello,

When we try after install geoengine we can't make a backup with the database manager of odoo :
Postgres subprocess ('/usr/bin/pg_dump', '--no-owner', '--username=pg-odoo-production', '--file=/tmp/tmpEvloUK/dump.sql', u'production') error 1

and when we try to do a backup in line we have this error:
pg_dump: [archiver (db)] query failed: ERROR:  permission denied for schema topology
pg_dump

[2015-12-16 16:01] J1b4y commented on #68
Ok that not really a issue but more a mistake from the doc:
i think you have to add to your doc the step, parameter your role:

GRANT ALL PRIVILEGES ON                  SCHEMA topology TO role_name;
GRANT ALL PRIVILEGES ON ALL TABLES    IN SCHEMA topology TO role_name;
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA topology TO role_name;

this to avoid some bug in script who use pg_dump or other

[2015-12-16 16:01] #68 closed, assigned to nobody

[2015-12-30 14:42] ikzent commented on #63
Issue comes from a phase out of the Google API as the standard openlayers java script is versioen 2.13.1
https://github.com/openlayers/ol2/issues/1450
Best way to go is use openstreetmap as standaard background

[2015-12-30 14:44] ikzent opened #69 "[8.0] GeoEngine not covering the whole page (height)"
When The map is displayed the whole width is covered correctly but the height is not covered completely. How can this be solved

[2016-01-08 09:13] muralikrishnareddy commented on #38
Same issue for me too
_setup_fields() got an unexpected keyword argument 'partial'

[2016-01-22 13:30] yvaucher commented on #69
Please specify the version of Odoo

[2016-01-22 13:35] ikzent commented on #69
It concerns the version 8 of Odoo.
I found the code in the javascript but, it seems that openlayers needs at least some information about window size, I put in an Higher value.
/base_geoengine/static/src/xml/geoengine.xml   I changed the height to 800 instead of 500

I will soon publish the code to have a label on a point, at this moment this is not seen.

##

Eric Smets

[2016-01-22 13:38] yvaucher commented on #49
The main issue of what we put where is that it would drag dependencies with it. Thus, I think it's a bad idea to add geospatial modules using geoengine in other existing repositories.

So if it doesn't depend on core addons, I agree with @ovnicraft that we would require another repository.

[2016-01-22 13:39] yvaucher commented on #69
I know in 8.0 there was some issue with it. This has been solved in 9.0 though.

Let me know when your PR is ready. Thanks

[2016-01-22 13:44] ikzent commented on #69
I will look in the 9 code

##

Eric Smets                                    eric.smets@fks.be mailto:eric.smets@fks.be
FKS bvba - Formal and Knowledge Systems       http://www.fks.be http://www.fks.be/ /
Schampbergstraat 32                           Tel:  ++32-(0)11-21 49 11
B-3511 Hasselt                                Fax:  ++32-(0)11-22 04 19

-----Oorspronkelijk bericht-----
Afzender: Yannick

[2016-01-22 14:17] yvaucher commented on #69
@ikzent 9.0 migration is there #60 thought it might not help you, there was quite some changes in core module `web`

[2016-02-05 13:24] dupski opened #70 "Map Markers / shapes not being displayed"
Hi guys. Thanks for this awesome project!

I'm trying out the v7 branch for a customer that is using OpenERP v7 but we are having an issue where the map displays fine but no markers are shown.

Another symptom is that the Measure Distance function shows the distance but there is no line shown to the cursor when moving the mouse.

I am using PostGIS 2.2 on PostgreSQL 9.1, geojson 1.3.2, Shapely 1.2

[2016-02-05 15:34] dupski commented on #70
I've now got this working on a clean install of OpenERP v7, so its something to do with our customisations. Please ignore! :)

[2016-02-05 15:34] #70 closed, assigned to nobody

[2016-02-05 16:24] dupski commented on #70
If anyone comes across the same issue, this was caused by an old version of NVD3's CSS (clobbering OpenLayer's SVG images).

Upgraded D3 and NVD3 to the latest versions and problem solved :)

[2016-02-05 19:13] yvaucher commented on #70
Thanks for the feedback. Didn't happened to me though.

[2016-02-11 20:05] lammh opened #71 "No partner Map"
I install the module geoengine_partner in odoo 8.0 but I have not received the map, the background remains white
please as I do to see the partner
![image](https://cloud.githubusercontent.com/assets/7395544/12988781/b38de2b2-d102-11e5-9aab-9cdf6a586099.png)

[2016-02-12 14:01] foutoucour commented on #71
Hello @lammh,

Do you use google map as layer?
We had the same kind of issue when we used google map and just switching to Open Street Map resolved the case.
It can be a work around if you are not in the obligation to use google map.

Hope it helps,
Jordi

[2016-02-12 14:14] lammh commented on #71
Sorry,
how a can switching in open Street Map
please

[2016-02-12 14:19] lammh commented on #71
@foutoucour  think's for your answer , but how i can get Map Snippet in our parnter
![image](https://cloud.githubusercontent.com/assets/7395544/13009267/d47dc818-d19b-11e5-8126-2a4f330dfaad.png)

[2016-02-12 17:18] foutoucour commented on #71
Sorry I can't help more on the case. You might need someone from CampToCamp
to guide you here :(

On Fri, Feb 12, 2016 at 9:19 AM lammh notifications@github.com wrote:

www.linkedin.com/in/jordirieracg/ http://ca.linkedin.com/in/jordirieracg/

[2016-02-13 15:08] lammh opened #76 "Error Install module demo"
![image](https://cloud.githubusercontent.com/assets/7395544/13028322/f089054c-d26b-11e5-97eb-451519963855.png)

[2016-02-15 10:16] yvaucher commented on #76
@lammh With which version of the module ?

[2016-02-15 10:18] yvaucher commented on #71
@lammh the widget on the partner will use the first map layer configured. You should remove google map layer and only keep the OpenStreetMap one to ensure it is use in widget.

[2016-02-15 18:48] lammh commented on #76
@yvaucher  module 8.0.0.1.0

[2016-02-15 18:52] lammh commented on #71
@yvaucher , i have only OpenStreetMap
![image](https://cloud.githubusercontent.com/assets/7395544/13057591/71efa336-d41d-11e5-8f6b-82f6af662e9a.png)
@yvaucher please the steps to configure map partner,

[2016-02-16 10:24] yvaucher commented on #71
@lammh I'm not sure about what your question is. Is it that the widget in the partner form has no map or is it that you don't have a widget at all in partner form?

[2016-02-16 10:27] yvaucher commented on #76
@lammh `total_sales` field of model `dummy.zip` is defined here
https://github.com/OCA/geospatial/blob/8.0/base_geoengine_demo/geo_npa.py#L37-L40

Have you removed anything ? It was working properly on runbot.

[2016-02-16 10:34] lammh commented on #71
@yvaucher  I don't have a widger at all in partner form

[2016-02-16 10:52] yvaucher commented on #38
@infocrea
@muralikrishnareddy
@befksbuild

TL; DR;
You need to update your openerp 8.0 to at least revision https://github.com/OCA/OCB/commit/5fee95ca6366954839e6db0cec5cf1b9b06c023d
or
https://github.com/odoo/odoo/commit/5fee95ca6366954839e6db0cec5cf1b9b06c023d

But you certainly should update to the last version of odoo as you might have more than 13 month of missing fixes.

##

After some inves

[2016-02-16 10:52] #38 closed, assigned to nobody

[2016-02-16 10:55] yvaucher commented on #71
@lammh Thus you need to add it.

Here is an example of how to use the widget in form:
https://github.com/OCA/geospatial/blob/8.0/base_geoengine_demo/retail_machine_view.xml#L15-L16

As this is not a bug I'm closing this issue.

[2016-02-16 10:55] #71 closed, assigned to nobody

[2016-02-16 10:57] yvaucher commented on #71
Note that google layers issue is already reported here https://github.com/OCA/geospatial/issues/63

[2016-02-16 19:03] lammh commented on #76
@yvaucher ,no a don't remove anything!
i have reinstall a model but a have a error!

[2016-02-19 02:30] hengkyzhang opened #80 "can we use google map as the base of our map ?"
i want to know regarding legality when we use google map for our module
can we use it without charge (FREE) for our module?

[2016-02-19 09:37] yvaucher commented on #80
Hello @hengkyzhang ,

You can find the conditions here: https://www.google.com/intl/en_US/help/terms_maps.html

It depends what you do with it.  But yes it's free of charges.

BTW it doesn't work anyway: #63 so you should probably use OpenStreetMap

[2016-02-19 09:37] #80 closed, assigned to nobody

[2016-03-01 20:08] sciallo opened #82 "[9.0] Base Layer and Overlays are offset on Chrome with browser zoom != 100%"
Installed base_geoengine_demo on freshly created database.

When looking at geoengine view for retailmachine the "dots" move at a different rate than the base map when moving or zooming. same behavior in form widget.

The same happens with ZIP polygons.

[2016-03-02 08:10] sciallo commented on #82
Upon further research, I realized it has to do with browser zoom... I was able to replicate in runbot: open a map view and change the zoom in your browser. points or polygons will move at different rate than map. This doesn't happen on openstreetmap.org

[2016-03-14 10:00] isabellerichard commented on #56
I've installed geoengine_project and geoengine_sale on Odoo 9.0 Enterprise, maps are well displayed, but project.project and sale.order views are not translated anymore. Context is not passed correctly to method fields_view_get, probably a problem of compatibility between old and new api signatures (context content is inside variable "toolbar").

[2016-03-14 10:11] pedrobaeza commented on #56
Please don't dirty this issue. Write a new one. I delete both comments.

[2016-03-14 18:15] isabellerichard opened #85 "[9.0] translations for geoengine_project and geoengine_sale"
I tested modules `geoengine_project` and `geoengine_sale` with 9.0 enterprise, with French language installed.
Maps are well displayed, but views are not translated anymore for `project.project` and `sale.order`.
I noticed that context was not well passed to `fields_view_get` method.

Note : the migration is not complete for these modules, related issue is #56.

[2016-03-22 14:49] treviser commented on #68
`GRANT ALL PRIVILEGES ON SCHEMA topology TO role_name;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA topology TO role_name;
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA topology TO role_name;`

Please add this to the doc!!!

[2016-03-23 13:33] treviser commented on #47
Could you please update the documentation, as it still mentions shapely 1.2.13?
http://oca.github.io/geospatial/prerequisite.html#postgis-2-0

[2016-03-27 03:38] ayepezv commented on #76
Saludos tengo el error al instalar el geospatial_demo me sale el siguiente codigo, y para desinstalar me indica cancelar instalacion, si me podrian ayudar, gracias de antemano. Uso Odoo 9 y geospatial del 9 mismo.

Odoo Server Error
Traceback (most recent call last):
  File "/home/andres/git/odoo9/openerp/http.py", line 643, in _handle_exception
    return super(JsonRequest, self)._handle_exceptio

[2016-04-05 14:44] alexalv commented on #36
Facing the same issue in v8
![screenshot](https://cloud.githubusercontent.com/assets/450994/14285917/ea39c39e-fb55-11e5-9184-4504591c9bef.png)

[2016-04-05 15:23] alexalv commented on #36
I made
`parent="base_geoengine.geoengine_base_view_menu"`
 in menuitem and added
`<field name="target">new</field>`
 in action, that seem to solve this problem in v8. Result can be seen on the screenshot below.
Should I make a pull-request or this is not a correct way to solve this issue?
![screenshot](https://cloud.githubusercontent.com/assets/450994/14287460/664aa1e2-fb5b-11e5-9249-416c19c986c4.

[2016-04-12 21:16] sciallo opened #86 "'bool' object is not iterable"
module: base_geoengine
version: 8.0 (9.0.1.1.0 in **openerp**.py I guess the link in README.rst could use an update)

**Steps to reproduce**
- attempt to install base_geoengine on latest OCB odoo
  This started happening after 'git pull'ed last version of OCB it was working before. I tried starting with blank database, still no Joy. (new database manually postgisified)

**Current behavior**
Traceb

[2016-04-13 08:56] jmabe commented on #86
Same error for me

Here is the odoo commit that is causing the problem:
87d160a7423243ecd760fefe5ba22fb85c460cb6 [FIX] models: partial loading of manual fields

I'm not able to correct the problem so I did:
 git reset --hard a445fc996b1884345324714d2fe9513b102db00c

To make the module installable again.
May be it could help someone.

[2016-04-20 13:23] yvaucher commented on #86
This should fix it: https://github.com/OCA/geospatial/pull/87

[2016-04-20 13:29] #61 closed, assigned to nobody

[2016-04-20 13:35] yvaucher commented on #36
Hello @alexalv I agree on the need the change the parent of the menu item.

And also as it is a wizard we want it as "new" in a popup.

A PR would be great. And feel free to fix that typo too: "Geolocalize **you** addresses" -> your
Plus I see a boolean field with no label that miss a `<group>` around it.

And the buttons which could be in a `<footer>`.

[2016-04-21 08:39] #86 closed, assigned to nobody

[2016-04-22 11:26] yvaucher commented on #82
#88 might fix this issue

[2016-04-22 11:27] yvaucher commented on #45
Closing as no feedback

[2016-04-22 11:27] #45 closed, assigned to nobody

[2016-04-22 11:29] yvaucher commented on #62
Should be fixed in every versions

[2016-04-22 11:29] #62 closed, assigned to yvaucher

[2016-04-25 00:32] jjlopezg opened #90 "trace routes"
Good morning, you can use google maps later?

I'm just a beginner as and I would like to draw routes between two points, where do I start?

Thank you

[2016-04-26 18:56] sciallo commented on #82
This fixed it for firefox but NOT for chrome (kubuntu 14.04), haven't tested other browsers yet

[2016-04-26 19:23] sciallo opened #92 "Geoengine view options"
What options are possible in the following?

[code]

Specifically:
- What does `select="1"` do?
- How do I sort how fields are displayed? (I tried `sequence="nn" and order="nn", height field shows above type no matter what.
- I tried `<field name="height" invisible="1"/>` to make a field available to a colored representation, but the field is displayed
- Is there any way to link to the form view o

[2016-04-27 10:04] yvaucher commented on #82
I tested it on:
- Firefox 44.0: it works
- Chromium 48.0.2564.82: it works
- Chrome:  50.0.2661.86: it fails only if zoom is not 100%

Thought on chrome it is not the same issue as we had on firefox. #88 fix an issue with offset on the Y axis. On Chrome it seems that offsets are on X and Y axis. And it acts differently.

[2016-05-25 13:23] diezcode opened #93 "Installed geo modules, created account on geonames.org , Don't see a map."
Hi, I intsalled all geo modules with all server depencies, I created an account on geonames.org, then I activatet the account.
In odoo8 I set  a new systemparameter = geoengine_geonames_username = (accountname of geonames)

Then when I want to see the map on the customers I see the buttons, but it's empty, I don't see a map. whats wrong?

[2016-05-25 14:23] diezcode commented on #93
How Can I see the Partner Locations? Any Settings I need

[2016-05-25 15:10] diezcode commented on #93
How can I see a partner in the map ?

[2016-05-30 11:07] yvaucher commented on #93
In odoo 8.0 google layers are not working. Please try with openstreet map instead.

[2016-05-30 11:15] yvaucher commented on #90
Hello @jjlopezg

No, google maps layer are not planned yet. If you are willing to contribute I will happily review it.
Otherwise, you should use openstreet map instead.

You will need to add a multilines field on your model:
https://github.com/OCA/geospatial/blob/9.0/base_geoengine/geo_multiline.py

The same way done here for Multi polygons: https://github.com/OCA/geospatial/blob/9.0/base_geoengin

[2016-05-30 11:36] yvaucher commented on #92
Hello @sciallo ,

The geoengine view is very simple and basic. Invisible as other formatting are not available.
`select` is an old attribute prior of the search view which was allowing to have the field in the search.
It is deprecated.
To filter what is displayed you must add it in the search view.

To use field for colourization it should be done on the vector layer object.
You have to set repres

[2016-05-31 06:24] diezcode commented on #93
thanks @yvaucher and how can I set a partners location on this openstreet map

[2016-05-31 09:55] yvaucher commented on #93
@diezcode Not sure what you are asking. You need a geo field on your partner and to setup your vector layers and your views.

You will find an example in this module: https://github.com/OCA/geospatial/tree/8.0/base_geoengine_demo

You will also find the prerequisite here:
http://oca.github.io/geospatial/index.html

[2016-06-01 12:18] guewen opened #95 "Loading of googleapis"
Is there any reason to load a javascript from maps.googleapis.com?  https://github.com/OCA/geospatial/blob/44d492b9a3d59407b294ed252641b42107742de0/base_geoengine/views/base_geoengine_view.xml#L19

[2016-06-01 12:40] lmignon commented on #95
@guewen To avoid licence infringement. You can't redistribute code from google. But if the support of googlmap is dropped, this line can be removed.

[2016-06-01 12:44] guewen commented on #95
Yes indeed, but I thought the support of google map had already been dropped.

[2016-06-01 13:14] yvaucher commented on #95
In fact it was only disabled.

https://github.com/OCA/geospatial/blob/9.0/base_geoengine/geo_view/geo_raster_layer.py#L28

There are some issue related to it in 8.0. This is probably because it was default value and not working. As noone started to fix it I think we can purge it.

[2016-06-01 13:18] yvaucher commented on #63
I put this as a won't fix as we probably want to extract it anyway. The issue is that having google api in base module loads the js even if not using it: https://github.com/OCA/geospatial/issues/95

[2016-06-02 14:04] ArchibaldJEGO commented on #92
Hello,

I'm interested in the link feature as well. Any idea when it will be available @yvaucher ?

Thanks

[2016-06-02 16:24] yvaucher commented on #92
I made a [Pull Request](https://github.com/OCA/geospatial/pull/94)

You can test it here: http://3148002-94-ec85e4.runbot1.odoo-community.org/web/login with runbot.

[2016-06-02 16:28] yvaucher commented on #92
Note that the development has been made only for 9.0 version. I have no plan to backport it in previous versions. (the call to switch view might be very different and I haven't the time to dig more)

[2016-06-03 07:33] ArchibaldJEGO commented on #92
Thanks!

[2016-06-17 15:54] lepistone opened #96 "recent change in odoo 9.0 makes installation of base_geoengine crash"
[code]

The culprit seems to be this line:

https://github.com/OCA/OCB/commit/87d160a7423243ecd760fefe5ba22fb85c460cb6#diff-5cd113a636a42f726042abc6798a9efaR3037

What happens is that the new parameter `partial` has been added, and after a couple magic old/new API wrappers the `context` is `True` (while `True` was passed to the new parameter `partial`).

I haven't investigated further for the mome

[2016-06-30 06:43] hengkyzhang opened #97 "Is this ready for production"
is this module ready for production use?

[2016-06-30 13:58] yvaucher commented on #96
This should have been fixed with: https://github.com/OCA/geospatial/pull/87

[2016-06-30 14:03] yvaucher commented on #97
It is ready depending on your needs. We currently use base_geoengine on 6.1 and on 9.0 on production as a base for specific modules.

For readonly geospatial data it is fine from 6.1 to 8.0. If you want to edit data some improvements have been done in 9.0 version and thus is more suitable.

Feel free to test on http://3149015-9-0-172cc9.runbot2.odoo-community.org/web/login

[2016-07-11 12:00] yvaucher commented on #68
@treviser Your PRs would be welcome on the doc

[2016-07-30 03:29] williamcastrillon opened #100 "Place multiples models in one view"
Hi,
I'm trying to show three models data in one view, according to [this post](https://www.odoo.com/es_ES/forum/ayuda-1/question/place-two-models-on-one-view-12350) the better way is to create another model that is populated by a SQL View that joins the three models, I did it, like the post says, the module installs succesfully, but when I try to view the information through the model form view. I

[2016-08-21 16:29] prashant2k15 commented on #52
even i having the same problem
can any one tell me how to solve this?

[2016-09-01 09:14] yvaucher commented on #100
Hello @williamcastrillon have you defined a vector layer in xml for all your geofields ?

You need to define one per geo fields. And as you create a new model here those are new fields even if already defined on your 3 other models.

Something like that for your model `geo.point.alert.route`
https://github.com/OCA/geospatial/blob/9.0/base_geoengine_demo/zip_view.xml#L63-L70

[2016-09-01 09:14] #97 closed, assigned to nobody

[2016-09-01 09:14] #96 closed, assigned to nobody

[2016-09-01 09:17] yvaucher commented on #82
Chrome is acting differently, and makes it very difficult to solve this. I won't be able to fix this for chrome.

[2016-10-01 10:00] ghost commented on #95
This comes due to the change in api google version (the version in odoo is not supported any more by google)

[2016-10-03 07:05] yvaucher opened #107 "OCA code sprint - Geoengine"
A part of the work was done here for geoengine 8.0:

https://github.com/acsone/geospatial/tree/8.0-ol3-lmi

Here we need to take the layer switcher. It has disapeared in OL3

Panel also disappeared in OL3 we will need to add html buttons in the Qweb template and place them with CSS.

[2016-10-04 13:14] yvaucher opened #111 "OL3 mapquest deprecated"
https://github.com/openlayers/ol3/releases/tag/v3.17.0

Need to remove it and remove it from demo data

[2016-10-04 13:21] yvaucher opened #112 "OL3 fullscreen and open form issue"
When opening map in fullscreen then opening a single selected object. If you go back to the full screen view you get:

[code]

[2016-10-05 13:12] yvaucher commented on #112
fixed by #115

[2016-10-05 13:12] #112 closed, assigned to nobody

[2016-10-06 12:51] pedrobaeza opened #117 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] base_geoengine - By @yvaucher - #123
- [x] base_geoengine_demo - By @yvaucher - #123
- [ ] geoengine_base_geolocalize
- [ ] geoengine_geoname_geocoder
- [ ] geoengine_maplausanne
- [ ] geoengine_partner - By @petrus-v - #135
- [ ] geoengine_project
- [ ] geoengine_sale
- [ ] geoengine_swisstop

[2016-10-08 18:21] yvaucher commented on #111
Done in #113

[2016-10-08 18:21] #111 closed, assigned to nobody

[2016-10-08 18:22] yvaucher commented on #107
Dev branch is there https://github.com/oca/geospatial/tree/9.0-ol3

[2016-10-19 13:01] pankk opened #122 "[8.0][9.0] Orange pointer dot trailing pan/zoom"
The orange dot on the geolocalization map view follows the direction of panning and zooming. I can reproduce this when using Chrome across local, runbot 8.0 and runbot 9.0. When using Firefox I do not have this issue. This issue also does not seem present on http://www.openstreetmap.org/ neither on Chrome nor Firefox. (Maybe updating Mapfish or something else in the static directory would fix this

[2016-10-19 13:16] pedrobaeza commented on #122
Can you include a screenshot of the problem?

[2016-10-19 15:07] pankk commented on #122
<img width="443" alt="geo1" src="https://cloud.githubusercontent.com/assets/3942631/19524518/4df3d8ee-961e-11e6-91f3-aa69e4b86f17.PNG">
<img width="402" alt="geo2" src="https://cloud.githubusercontent.com/assets/3942631/19524517/4de9a13a-961e-11e6-8f4c-110e2218fcee.PNG">

Here are the screenshots. The first image is probably correct, the second is obtained by panning to the east. As you can see th

[2016-10-19 15:21] pedrobaeza commented on #122
Thanks for the info

@yvaucher, any clue?

[2016-10-19 15:56] sciallo commented on #122
is your browser zoom in or out? You could be looking at issue #82

[2016-10-20 07:19] pankk commented on #122
@sciallo, thanks, I actually overlooked that issue. But after doublechecking my browser is at normal zoom levels. Can someone else check if they can reproduce this on runbot? It could still be a weird combination of my Chrome version, OS, and display setup (resolution):  53.0.2785.143 m, Windows 10, 1920x1080 on two displays (extended), respectively.

[2016-10-20 15:24] yvaucher commented on #122
Most of offset issue should have been fixed in 9.0 with https://github.com/OCA/geospatial/pull/88
As @sciallo pointed out there is a bug with zoom in Chrome that couldn't be fixed.

About version 8.0 I backported the fix not long time ago: https://github.com/OCA/geospatial/commit/d7c8dc082db254c43db262ff2c01fd31361504a2

I can't test it on Chrome + Windows 10
I just checked again on 8.0 version of

[2016-10-23 16:08] #107 closed, assigned to nobody

[2016-11-02 11:22] josemicopa opened #124 "scroll move edit map cursor"
I have the map editing in a tab at the bottom, when I scroll to see the entire map the cursor moves.
without scroll:
![map1](https://cloud.githubusercontent.com/assets/23212280/19926801/f6c5f56e-a0f6-11e6-8449-df4353ec4e9d.png)

after scrolling:
![map2](https://cloud.githubusercontent.com/assets/23212280/19926804/faa73f6c-a0f6-11e6-90d3-81706da6784b.png)

[2016-11-02 11:28] yvaucher commented on #124
@joseodoo Thanks for reporting.

Are you using chrome ?

This if so this is an issue with this browser see:
https://github.com/OCA/geospatial/issues/82

Otherwise it could be a duplicate of https://github.com/OCA/geospatial/issues/122
As it is certainly a duplicate, I'm closing it.

If it is related to issue #122 , could you provide more information about your browser / OS

[2016-11-02 11:28] #124 closed, assigned to nobody

[2016-12-15 08:34] josemicopa opened #125 "[8.0] Error in the map in a tab of notebook"
If i change to the edit mode not being in the map tab at change to the map tab appears as follow
![seleccion_003](https://cloud.githubusercontent.com/assets/23212280/21216891/948d091c-c2a9-11e6-946e-b26c3fae7cb1.png)

[2017-01-05 22:46] dreispt opened #126 "Is the Partner geo location manually editable?"
I'm testing the `geoengine_partner` module, and I was expecting to be able to manually set the Partner's location by clicking on the Geoengine Map.
But it seems to be readonly.

Is there some way to manually edit point geo locations, or is it a geoengine limitation?

Thanks!

[2017-01-11 14:59] dreispt commented on #126
Ping!

[2017-01-17 08:57] dreispt commented on #126
Ping!

[2017-02-16 10:23] yvaucher commented on #125
@joseodoo Could you tell us on which version of Odoo ?

[2017-02-16 10:26] yvaucher commented on #126
Geoengine widget is designed for edition since Odoo 8.0. In previous version we could just insert lat long.

Not sure about geoengine_partner. You might find a useful exemple in base_geoengine_demo module.

Which version of the module are you using ?

[2017-02-16 14:05] dreispt commented on #126
I was trying 8.0.
`geoengine_parter` adds a [GeoPoint](https://github.com/OCA/geospatial/blob/8.0/geoengine_partner/geo_partner.py#L30) to the model and [form view](https://github.com/OCA/geospatial/blob/8.0/geoengine_partner/geo_partner_view.xml#L11).

I'm supposed to be able to set a value on it by clicking on a point in the map widget, correct?

[2017-02-16 15:07] yvaucher commented on #126
@dreispt To be able to add or modify a point you must be in edit mode on your form view (maybe that was just that ?)

[2017-02-16 19:38] dreispt commented on #126
I'm quite sure I was, but I'll try that again.

--dr

No dia 16/02/2017, às 15:07, Yannick Vaucher <notifications@github.com> escreveu:

[2017-02-17 08:18] josemicopa commented on #125
@yvaucher I am developing for Odoo 8

[2017-02-17 12:36] yvaucher commented on #125
@joseodoo there was multiple issues with map in tabs resolved in version 9.0

https://github.com/OCA/geospatial/pull/78
https://github.com/OCA/geospatial/pull/99

It might be that your map is initialized with a wrong size because the container is in an invisible tab.
I would not recommend to use a map under tabs in version 8.0 unless you patch it.

[2017-02-17 12:38] #49 closed, assigned to nobody

[2017-02-17 12:39] yvaucher commented on #42
Done in

https://github.com/OCA/geospatial/pull/121 for version 9.0
https://github.com/OCA/geospatial/pull/123 for version 10.0

[2017-02-17 12:39] #42 closed, assigned to nobody

[2017-02-17 12:45] yvaucher commented on #76
@lammh I'm closing this issue as base_geoengine_demo module installs correctly on
https://travis-ci.org/OCA/geospatial/jobs/200560127
(error is due to module geoengine_project)

@ayepezv Please use english and create your own issue, your error doesn't seems related

[2017-02-17 12:45] #76 closed, assigned to nobody

[2017-02-17 12:52] yvaucher commented on #95
This was removed in version 10.0

[2017-02-17 12:52] #95 closed, assigned to nobody

[2017-02-17 12:52] #18 closed, assigned to bwrsandman

[2017-02-17 12:53] #90 closed, assigned to nobody

[2017-02-17 12:54] #92 closed, assigned to nobody

[2017-02-17 12:55] yvaucher commented on #92
Note https://github.com/OCA/geospatial/pull/94 has been merged in 9.0

[2017-02-17 12:59] yvaucher commented on #93
I realize you were probably talking about `geoengine_geoname_geocode` which inherits `geoengine_partner`
this was also asked in #126

Closing as first question was answered

[2017-02-17 12:59] #93 closed, assigned to nobody

[2017-02-17 13:10] #36 closed, assigned to nobody

[2017-02-17 14:48] yvaucher commented on #126
@dreispt This might also be another of those bug related to widget being instantiated in a tab I had to get rid of in version 9.0.

For example one issue was that you would see the map belonging to another record when switching from a partner (or other object) to another.

Maybe try to move the geoengine widget outside of tabs to see if it works.

[2017-02-17 15:00] yvaucher commented on #126
@dreispt didn't had an environment for 8.0, thus I prefered to migrate it to 9.0 and test it

-> https://github.com/OCA/geospatial/pull/128

Thus I checked that in 9.0 I can edit create / edit / remove a point. Just had to drop the google raster layer to replace it by OSM.

[2017-02-20 03:56] rygar08 opened #132 "[10.0] TypeError: Reprojection of column is not implementedWe can not change srid 900913 to 0"
When installing 'Geo spatial support Demo' on odoo 10, i get this error....
TypeError: Reprojection of column is not implementedWe can not change srid 900913 to 0

Traceback (most recent call last):

.... traceback errors removed for brevity

  File "/home/parallels/cxn/odoo-10-cxn/odoo/modules/registry.py", line 315, in init_models
    model._auto_init()
  File "/home/parallels/cxn/oca/geospatial

[2017-02-21 05:08] lesdekock commented on #132
Have found that the issue is with the Odoo core process creating the geom column instead of leaving it for the geo_model logic to create the field in the database.

In the GeoModel _auto_init (see base_geoengin/geo_model.py) at line 41, 2 list are made, one for the base fields and one for the geo fields.
On line 46 self._fields is equated to base_fields and then the super call is done to the _auto

[2017-02-24 09:09] dreispt commented on #126
@yvaucher I tested it locally on 8.0 and I was able to move the point using the map, although the usability was not nice: the map point moves were displaced from the mouse cursor position. That could be related to the bugs you mentioned.

[2017-02-24 10:37] yvaucher commented on #126
@dreispt That's mainly why we moved to Openlayers 3 for Odoo 10.0 (there is also a branch for 9.0)

[2017-04-05 08:17] petrus-v commented on #132
Thanks @lesdekock for your analysis that helps indeed!

I've suggested #134 as a fix for this issue, @rygar08 what do you do finally?

[2017-04-05 14:49] petrus-v commented on #117
I've started geoengine_partner migration here: #135

[2017-04-15 02:34] lasley opened #136 "[RFC] geoengine_location: Support base_location"
This module will provide geoengine support to the `better.zip` model that is provided in `base_location`. It will automatically install if both `base_geongine` & `base_location` are installed.

I have added `latitude` and `longitude` fields to `base_location` in https://github.com/OCA/partner-contact/pull/405, but they are just plain floats. Upon installation, this module will need to use the exis

[2017-04-15 08:43] lmignon commented on #136
@lasley why do you want to hook the create and write method from better.zip? Your geopoint should be a computed field and if you want to allow the user to directly specify a geopoint you can declare an empty inverse method...

[2017-04-15 16:44] lasley commented on #136
@lmignon TBH I have no idea why I didn't think of that, thanks for pointing it out! RFC updated

[2017-04-24 16:20] petrus-v commented on #132
@yvaucher, @rygar08  thanks for merging #134 I guess we can close this issue now?

[2017-04-24 20:27] haddoucheIts opened #137 "[10.0] init_postgis bug"
I'm on odoo v10 and i wan't to install geoengine_base but i have this pyhton error
AttributeError: 'module' object has no attribute 'init_postgis'

can someone help me please ?

[2017-04-25 06:06] yvaucher commented on #132
@petrus-v yes I'm closing it, thanks for the patch

[2017-04-25 06:06] #132 closed, assigned to nobody

[2017-04-29 05:12] dek-odoo opened #138 "About Satellite Imagery"
Hello Guys,

Is there any possibility of having satellite imagery in future versions ?
If not, what would it take to implement one ?
If google is not possible, can there be some other source of satellite Imagery ?

Without this feature, one gets one more reason on not using odoo.
Can there be a branch that has satellite imagery in case somebody wants to see/test ?

I have already looked at the iss

[2017-04-29 05:13] dek-odoo commented on #138
@yvaucher

[2017-05-02 10:44] yvaucher commented on #138
Hello @dek-odoo

There is no plan to add one in future version.
But it is completely doable. You need to define a raster layer and configure a WMTS service.
You have an example in https://github.com/OCA/geospatial/tree/10.0/geoengine_maplausanne on how to implement such module.

[2017-05-02 11:06] yvaucher commented on #136
By the way, as a side note, the onchange works also on geoengine widget, thus adding a point can trigger an onchange and use a geo_domain: `[('area', 'geo_contains', point)]`

It would be useful if you have the area of your zip locations.

Example which should work (based on a module I made for a customer with other models)

[code]

[2017-05-03 03:18] lasley commented on #136
Excellent idea, thanks @yvaucher! RFC updated

[2017-05-03 06:00] dek-odoo commented on #138
Ok. Thanks a lot.

[2017-05-03 10:51] #138 closed, assigned to nobody

[2017-05-05 01:46] Deliveriya opened #139 "Geoengine and multicompany"
Odoo 8.0
The system is used with the multicompany option.
In the event that a user has a company_id other than the company_id superuser (Administrator), an error occurs

`AccessError: ('AccessError', u'The requested operation can not be completed due to security restrictions.) Please contact your system administrator. \ N \ n (Document type: res.users, Operation: read) ')`

The user can not create

[2017-05-05 08:48] soluxSG opened #140 "[10.0] Impossible to manually set geo_point values"
I need to set latitude and longitude manually in Odoo 10 but it will not allow me. I already tried with compute = 'method' in the geo_point and I get an error when I use the from_latlon method. Please help me.

[2017-05-08 14:38] yvaucher commented on #140
There are multiple method to do that.

The one I explained on mailing list https://odoo-community.org/groups/geospatial-48

[code]

You can also directly edit a geo_field if you give it a text widget putting a string like the wkt format: "POINT(731452, 5875278)" but in that can you loose the visibility of the map widget.

Or maybe you just want to use the dedicated widget `FieldGeoPointXY`

[code]

[2017-05-08 15:12] yvaucher commented on #139
This is certainly due to the record rules used for multi company, saying to you that at some point the code wants to read a user of a different company than your current user.

Maybe you can trace it down with a pdb to get at which point it fails trying to read a user of the other company. Maybe an issue with the triggers. Maybe try by removing the `api.depends()` to see if the triggers are the pr

[2017-05-08 16:56] Deliveriya commented on #139
You are right, when you remove decorator @api.depends ('partner_latitude', 'partner_longitude'), there is no error when creating customer. Tried to debug (see attach).

db1=# select name, company_id from res_partner where id = 488; 
name | company_id
------+------------
(0 rows) 
db1=# 

Are we trying to set record values that does not exist? 
When updating partner records, an error does not occur

[2017-05-08 17:16] yvaucher commented on #139
I don't see any attachment here in github.

With `pdb` I meant python debugger.

@lmignon did you had the chance to use your module in a multicompany env ?

[2017-05-08 18:16] Deliveriya commented on #139
Yes, I understand.I uploaded attachments on github. See above.

[2017-05-08 18:27] Deliveriya commented on #139
94         ipdb.set_trace()
---> 95         if not self.partner_latitude or not self.partner_longitude:
     96             self.geo_point = False

ipdb> n

     95         if not self.partner_latitude or not self.partner_longitude:
---> 96             self.geo_point = False
     97         else:

ipdb> n
AccessError: AccessEr...: read)')

     95         if not self.partner_latitude or not self.p

[2017-05-08 18:42] Deliveriya commented on #139
Fix
[code]

[2017-05-08 19:16] soluxSG commented on #140
I have this:

[code]

    terreno_coordenada_map = geo_fields.GeoPoint(
        string='Coordenada',
        store=True,
        compute='get_geo_point'
    )

I get the next error:

[code]

[2017-05-08 21:29] nbessi opened #141 "Oauth soon revoked"
Hello,

An Oauth key for Travis I setted to build the doc will be soon revoked by github due to a leek at Travis ci.

"""Your OAuth token, named geospatial push doc (055ae5fa), was disclosed in a Travis CI build log. The access granted by that token is dependent on the scopes assigned to it."""

Please change it soon before it breaks all the builds.

Regards

Nicolas

[2017-05-09 08:54] yvaucher commented on #140
Okay seems assignation doesn't work. We didn't implement it as we did for the write.

Thus you can only provide a geojson value.

[code]

Please try:
[code]

[2017-05-09 09:40] yvaucher commented on #139
Thanks for the detailed tracing. In fact in a `api.depends` method, field value is reset anyway.

An other option would be to add `compute_sudo=True` on the field definition, but I'm struggling to find why would this computation requires extra rights with triggers.

[2017-05-09 12:34] Deliveriya commented on #139
Ok.
If there will additional information, I will write.
Thanks you  for help.

[2017-05-09 21:05] soluxSG commented on #140
I tried it once: setting directly a geojson value in the geo_point field and i get the next error:

[code]

[2017-05-12 23:48] javierlaris opened #142 "[10.0][11.0][12.0] Odoo Server Error - init_postgis - (issue when using postgres 12)"
When i'm installing Geospatial support for Odoo (v10.0) i get this error:

[code]

i need help

[2017-05-22 07:38] megantaradika commented on #137
what you get solution for this problem?, i doo same problem with you, help me!!!

[2017-05-22 07:58] megantaradika commented on #142
up

[2017-06-09 11:06] yvaucher commented on #142
Duplicate with https://github.com/OCA/geospatial/issues/137

[2017-06-09 11:11] yvaucher commented on #142
This error seems to come from the 'pre_init_hook'
https://github.com/OCA/geospatial/blob/10.0/base_geoengine/__manifest__.py#L31

Which is defined here:

https://github.com/OCA/geospatial/blob/10.0/base_geoengine/geo_db.py#L12

As a work around, you can try to comment the line in the manifest and do the following command by hand:

[code]

If you get something do nothing.

Otherwise do:

[code]

[2017-06-09 11:36] yvaucher commented on #142
@javierlaris  and @megantaradika What is your version of Odoo and what is your version of python?

Locally I tested the install and it works without error on Odoo 10.0 and python 2.7.9.

[2017-06-13 04:05] dek-odoo commented on #138
@yvaucher

OpenLayers seems to be undefined on several places.

Like

Thank you.

[2017-06-15 05:24] dek-odoo opened #143 "[Bug] 9.0-ol3 branch: Openlayers is undefined on several places"
When creating a wmts layer, javascript throws an error.
It says "Openlayers is undefined".
<b>Branch: 9.0-ol3</b>

Probably on some other places, too.

[2017-06-16 06:59] dek-odoo commented on #143
@yvaucher

[2017-06-16 10:02] yvaucher commented on #143
Thanks for reporting. I won't have the time yet to look deeper into this.

The branch 9.0-ol3 did not replace the 9.0 as not everything was tested.
In case you need to setup a wmts in Odoo 9.0 you might need to stick to the ol2 version. (in branch 9.0)

Otherwise can you try to replace `OpenLayers` by `ol` on those line. But the function name might have changed so it might not be enough.

[2017-06-16 12:12] dek-odoo commented on #143
Ok, Thanks a lot for your reply.

I may need to stick with ol3 as it has some extra features.
I will try to fix the bug with what you said.
But I can create a PR with fix, if I could get some more info or hint on this.

Thank you.

[2017-06-16 14:47] yvaucher commented on #143
My wild guess is that during migration from ol2 to ol3 those were not ported. And as the structure of ol3 changed a lot. Now we have to import ol instead of OpenLayers

[2017-06-28 14:47] ecino commented on #117
Are there any plans for `geoengine_geoname_geocoder` and `geoengine_base_geolocalize` migration?

[2017-07-10 06:03] sarahosay commented on #142
hello, i have python 2.7.12 and Odoo 10 installed in my computer. I also had the same error while installing geoengine. I already tried doing the above suggestions but I still get an error:

ParseError: "Error while validating constraint

Field `gist_index` does not exist

Error context:
View `ir.model.fields.form.geo`
[view_id: 206, xml_id: n/a, model: ir.model.fields, parent_id: 36]
None" while

[2017-07-10 11:55] yvaucher commented on #142
@sarahosay What is the version of the module in __manifest__.py or __openerp__.py ?

Have you installed the following dependencies ?

http://oca.github.io/geospatial/prerequisite.html

[2017-07-11 01:15] sarahosay commented on #142
The version in the manifest is '10.0.1.0.0'
Yes, i installed the ff.: geojson, shapely and postgis.

[2017-07-12 21:50] cedvict opened #145 "Install of base_geoengine"
Hi,
I have this track when i try to install base_geoengine.
Someone can help me please?

Traceback (most recent call last):
  File "C:/environment/odoo.9\openerp\http.py", line 599, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "C:/environment/odoo.9\openerp\http.py", line 636, in dispatch
    result = self._call_function(**self.params)
  File "C:/env

[2017-07-31 02:06] soluxSG opened #147 "How to change SRID in my custom module?"
how to change srid in my custom module.

I tried this:

[code]

But all time returns coordinates in 900913 when I want work in 4326 (WGS 84)

[2017-08-02 08:12] yelizariev opened #148 "Docker installation"
Here is my instruction for installation. Hopefully it may be hellpfull on updating project's website, which lacks getting started insturction

[code]

[2017-08-02 08:21] yelizariev opened #149 "odoo patch"
If I understand correctly, patch was merged to odoo. So the note should be removed from documentation:

[2017-08-02 10:22] yvaucher commented on #145
Hello @cedvict your odoo code base is not up to date as I see in your stacktrace:
[code]
https://github.com/odoo/odoo/blob/9.0/openerp/modules/registry.py#L200

You need to have at least this commit:
https://github.com/odoo/odoo/commit/87d160a7423243ecd760fefe5ba22fb85c460cb6

[2017-08-02 10:24] yvaucher commented on #149
Indeed, we removed the patch here from CI:
https://github.com/OCA/geospatial/commit/4068cff42b488a67e25a027c28e84f49506cde8c

Can you point me the file in which we still have this sentence ?

[2017-08-02 10:27] cedvict commented on #145
Thanks @yvaucher
I was working on old version of odoo 9
It's working now

[2017-08-02 10:27] #145 closed, assigned to nobody

[2017-08-02 10:27] cedvict commented on #145
Thanks @yvaucher
I was working on old version of odoo 9
It's working now

[2017-08-02 10:40] yelizariev commented on #149
README: https://github.com/OCA/geospatial/blob/10.0/README.md
website: http://oca.github.io/geospatial/installation.html

[2017-08-02 11:34] yvaucher commented on #149
Fixed at 540e938acaf7a59e114fec35ebb39c5ef35a0c58

[2017-08-02 11:34] #149 closed, assigned to yvaucher

[2017-08-02 11:41] yelizariev commented on #149
What about website?
https://github.com/OCA/geospatial/blob/gh-pages/_sources/installation.txt
http://oca.github.io/geospatial/installation.html

[2017-08-12 17:46] lasley commented on #136
Closing to track in #151

[2017-08-12 17:46] #136 closed, assigned to nobody

[2017-08-21 13:21] bouchezb opened #152 "Field as GeoPoint with NULL value"
Hi,

For my project, i'm trying to use GeoEngine to enhance "equipement" forms/views in "maintenance" addon.
I started to use the V8.0 geoengine with the "geo_partner" demo.
I succeded to integrate the code in Odoo V10.0, which isn't really hard task, but i found that when my field is not filled with a correct value, the OSM layer isn't showing in the partner form.
Editing coordinates is also unav

[2017-08-21 15:19] bouchezb commented on #152
For the record, creating a new partner is OK, map is showing and edit with click works fine.
The problem is only on previously existing data.

[2017-08-25 07:42] otrikafo commented on #142
@sarahosay I have the same problem. have you find a solution?
I'm using odoo10 with python2.7.9

[2017-08-28 13:20] bouchezb opened #153 "Unable to use map symbols feature"
Hi,

I'm trying to use symbols with my layers and i can't make it work.
I've seen there is a [patch](http://gitlab.opengest.solutions/OCA/geospatial/commit/49c42c211fe26c08c61739fbae9c3c325f3b67ab?w=1) for v9.0 with broken symbol feature.

As you can see this is a 2 year old patch which seems to fix the bug in V9 and v10, but in the current V10 i can't see modifications for th file "geoengine_view

[2017-09-21 12:27] thomaspaulb commented on #139
Hey guys. I had a similar bug:

- In one of my custom modules I added an 8.0-style computed field on `res.partner` and added it on the customer form view as well as the customer tree view.
- Tree view worked fine, but when opening the customer form view the same `res.users` read AccessError appeared. This only in the case where logged in user has a different company selected than Administrator use

[2017-09-25 16:02] flammiag opened #154 "[10] convert lat/long in GEoPoint"
Hi,
i'm working with android and Odoo.
From Android, i receive the gps coordinate in LatLong.

How do i can Convert this lat/long in GeoPoint ?
I need the GeoPoint because i use geoSearch for verify if the geopoint is contained in the GeoMultiPolygon.

[2017-10-03 14:11] pedrobaeza opened #156 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] base_geoengine - By @asaunier - #178
- [x] base_geoengine_demo - By @Tonow-c2c - #177
- [ ] geoengine_base_geolocalize  @josueBulle #216
- [ ] geoengine_geoname_geocoder
- [ ] geoengine_maplausanne
- [ ] geoengine_partner  @josueBulle #215
- [ ] geoengine_project
- [ ] geoengine_sale
- [x] g

[2017-10-20 14:08] SimonFalesse commented on #100
I allow myself to relaunch this topic in order to know if finally, it was possible to display on a single map, several classes of objects with different markers (point, multilines, multipolygons, ...)?

[2017-11-15 06:25] dek-odoo opened #157 "ir.ui.view not editable due to field vector_layer_ids set as required"
Impacts all versions.

The module base_geoengine inherits ir.ui.view and adds a few fields.
One of the fields **`vector_layer_ids` is set to `required=True`**

And in views, **the field** is declared in a page that is **displayed based on condition**. i.e. If the the view is not `geoengine`, the field should not be displayed.

So the rest of the views can not be edited. :grin::wink:

The problem h

[2017-11-16 10:22] dek-odoo commented on #157
@yvaucher

[2017-11-16 12:02] yvaucher commented on #157
IIRC required attribute had no impact on old version of Odoo with x2many.

Thus said, indeed we don't want to add required fields on standards views.
Can you create a PR to solve this ?

[2017-11-23 15:32] estebanjuela opened #158 "Printing multipolygon field"
Is there any way to print a multipolygon field with qweb or any other way ?. When i try to put the field on report, the pdf file only shows the coordinates.  I need that the pdf shows the map as background and the polygon.

MULTIPOLYGON (((-8696217.733325399 -256928.3818698107, -8696192.6524255 -256931.9648555108, -
8696197.429739701 -256967.7947125108, -8696226.0936253 -256959.434412551, -8696217

[2018-01-05 02:20] nathanielaquino opened #159 "[10.0] Javascript Error - geoengine_layers"
In Odoo, I am receiving this error:

Odoo Client Error
Uncaught TypeError: Cannot read property 'backgrounds' of undefined
http://192.168.0.53:8069/web/content/638-485e57a/web.assets_backend.js:5034
Traceback:
TypeError: Cannot read property 'backgrounds' of undefined
    at Class.render_map (http://192.168.0.53:8069/web/content/638-485e57a/web.assets_backend.js:5034:2181)
    at Class.<anonymous>

[2018-02-02 17:01] yvaucher commented on #158
No, this would be a great feature, but currently not possible as not implemented.

What you see is string format of the field.

[2018-02-02 17:02] yvaucher commented on #154
This is a matter of projection, I think I already answered on the mailing list. Thus I close this.

[2018-02-02 17:02] #154 closed, assigned to nobody

[2018-06-12 15:00] pnajman-modoolar commented on #156
Hello, we would like to help with migration ...

[2018-06-18 12:30] yvaucher commented on #156
hello @pnajman-modoolar ,

Migration has not been started yet. To start the migration the first thing to migrate is the module base_geoengine. And to test it base_geoengine_demo should be done too as it can be used for testing purpose.
An other priority, maybe more accessible is to make travis happy, as we have a lot of js lint to do on the branch 10.0. Once done in 10.0 we will then apply it to t

[2018-06-29 02:43] pronexo-argentina commented on #68
In docker you have to enter the container and install postgresql9.5. You have to update psql to 9.5.

1 - #we create a new source to install psql 9.5
vim /etc/apt/sources.list.d/postgresql.list

2 - Insert this  line
deb http://apt.postgresql.org/pub/repos/apt/ trusty-pgdg main 9.5

3 - we download public key to let us lower the psql9.5
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4

[2018-07-08 08:56] dek-odoo commented on #156
Great..
Is the migration going to be with OpenLayers 3 ?

[2018-07-17 09:26] yvaucher commented on #156
@dek-odoo we did the port to OL3 in Odoo 9.0 which remains as a separate branch: https://github.com/OCA/geospatial/tree/9.0-ol3

And since Odoo 10.0 it is alread there.

If the question is about an upgrade to OpenLayers 4, yes I think we should be up to date. AFAIK the API between OL3 and OL4 doesn't change much.

[2018-07-18 17:39] dek-odoo commented on #156
@yvaucher
I was probably thinking about [this issue](https://github.com/OCA/geospatial/issues/143)

[2018-08-07 07:35] ecino opened #169 "Map view on mobile device"
Hi,
On mobile device, the geoengine map displays well but it's hard-to-impossible to click on a dot and open the popup that shows informations on a record. I don't know if it's related to openstreetmap or the implementation in Odoo, but that would be great if the usability could be improved for mobile devices.

[2018-09-02 13:26] lizhi2013 opened #171 "how add an get position plugin in the map"
when using in phone，get position functio is often need to user，how can add this function

[2018-09-24 15:49] diassynthesis commented on #9
still the same issue after 3 years.
@benwillig i can't find this commit.

[2018-09-24 15:57] diassynthesis opened #172 "V7.0: VIEW_TYPE - Side Effect !!! #9"
Still the same issue after 3 years.
@benwillig i can't find this commit.

[2018-09-24 16:01] pedrobaeza commented on #172
@diassynthesis and it's going to take more if you don't specify correctly things. And even that, this is a voluntary work, so no requirement of doing anything.

[2018-09-24 16:01] #172 closed, assigned to nobody

[2018-09-24 22:04] diassynthesis commented on #172
@pedrobaeza It's in the title: VIEW_TYPE - Side Effect !!! #9

an old issue !

[2018-09-24 22:44] diassynthesis opened #173 "V7.0: VIEW_TYPE - Side Effect !!! #9"
@pedrobaeza It's in the title (#9): VIEW_TYPE - Side Effect !!! #9

an old issue !

[2018-09-24 22:55] diassynthesis commented on #173
@Github Just give us a way to reopen a closed issue ... instead of duplicating a issue

https://github.com/isaacs/github/issues/583

https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github

[2018-09-24 22:56] pedrobaeza commented on #173
No, sorry, but the case in ended and opening new ones you are not going to get anything

[2018-09-24 22:56] #173 closed, assigned to nobody

[2018-09-24 23:00] diassynthesis commented on #173
OK, I'll reopen a new one.
Thanks.

[2018-09-25 00:34] diassynthesis opened #174 "V7.0: CONFLICT!!!"
Now, after some modifications i can install base_geoengine module (i will submit a PR for V7.0).
But there is a strange issue after installing it.
All seems to working fine, but when restarting the server, i get the following error(and I can no longer log me into the server):
-------Start Error Log:
File "/usr/lib/pymodules/python2.7/openerp/osv/orm.py", line 948, in create_instance
obj.init(pool,

[2018-09-25 07:23] pedrobaeza commented on #174
The error is on web_dynatree module, not on geoengine.

[2018-09-25 07:23] #174 closed, assigned to nobody

[2018-09-26 18:10] max3903 commented on #156
Hi all,

@osi-scampbell is looking at the modules in 10.0 to determine what we need to migrate for https://github.com/OCA/field-service.

[2018-09-27 00:07] OCA-git-bot opened #175 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] base_geoengine - By @yvaucher - #185
- [x] base_geoengine_demo @yvaucher #196
- [ ] geoengine_base_geolocalize @ecino #273
- [ ] geoengine_base_geolocalize
- [ ] geoengine_geoname_geocoder
- [ ] geoengine_maplausanne
- [ ] geoengine_partner ~~@EBII #248~~ @ecino #274
- [ ] geoengine_project

[2018-12-04 20:32] Maartincm commented on #156
Any news on this migration? Im willing to help!

[2018-12-28 03:27] emagdalenaC2i commented on #156
There is a PR for the migration of base_geoengine - By @asaunier - #178
There is a PR for the migration of base_geoengine_demo - By @Tonow-c2c - #177

[2018-12-29 07:22] zeng980520 opened #181 "Does gis support odoo11?Are there modules that support odoo11?"
Gis can be installed in odoo10, but it cannot be installed in odoo11. Do you have gis models that odoo11 can use?

[2018-12-29 12:34] pedrobaeza commented on #181
They are not yet migrated.

[2018-12-29 12:34] #181 closed, assigned to nobody

[2019-01-02 01:08] zeng980520 commented on #181
Ok, thank you.

[2019-01-02 01:11] zeng980520 commented on #175
Has the migration been successful?

[2019-01-02 01:30] pedrobaeza commented on #175
There isn't yet any module migrated to this version. That's why this issue remains with no PR references.

[2019-01-02 01:42] zeng980520 commented on #175
ok,thank you!

[2019-01-14 15:40] yvaucher commented on #169
@ecino I suppose you mean openlayers instead of openstreetmap.

There are some default handling in openlayers, but haven't tested them.
May I ask you which version of geoengine (and thus openlayers) you used?

[2019-01-14 16:07] yvaucher commented on #171
I don't think it comes as default in Openlayers. And nothing was done for that in geoengine.

It looks like you need to use the browser geolocation API to get current location from your mobile device.
https://www.w3schools.com/html/html5_geolocation.asp

For using a location and send it to share it or use it with a GPS app I'm also pretty sure it's not in openlayers by default. It would require an

[2019-01-15 07:37] ecino commented on #169
@yvaucher I'm not sure which version it is, we used the default one which is coming when installing module `geoengine_partner`, on the map of the customers. We are using it on Odoo 10.

[2019-01-18 14:48] yvaucher commented on #169
@ecino thus your are using OL3
https://github.com/OCA/geospatial/tree/10.0/base_geoengine/static/src/js/lib

This is the only lead I can give you for now. To test if it can be solved by altering the CSS to have larger dots.
Maybe I can have a look at that later but not before a couple of weeks. Let me know if you find any solution.

[2019-02-08 12:17] yvaucher commented on #171
@lizhi2013 a follow up to your question.

Here you can find an example with Openlayers using a function that wrap browser's html5 geolocation.

https://openlayers.org/en/latest/examples/geolocation.html?q=geoloc

[2019-02-14 13:55] max3903 opened #184 "Geospatial Roadmap for Field Service"
https://github.com/OCA/field-service/issues/53

# Phase 1a

- [x] Dots on a map
- [ ] Color-coded dots and symbols based on any field of order/location
- [x] Swap basemap (Streets, Light colored)

# Phase 1b

- [ ] Show on mobile device with my current location
- [x] Swap basemap (Satellite)

# Phase 2

- [x] Display territory/branch/district/region (FSM objects) polygons
- [ ] Assemble territory

[2019-02-20 04:24] GuM0x1a commented on #184
@max3903 Great Job.

[2019-02-21 10:42] leemannd commented on #175
We will start soon the migration work of base_geoengine . Are there other people that is interested in sharing the load also on other modules? Maybe @max3903 ?

@zeng980520 Are you currently working on this topic?

[2019-02-25 07:05] yvaucher commented on #175
Migration in progress of base_geoengine

[2019-03-19 09:17] Killance opened #186 "[9.0] Problem with WMS map"
Hello,

I’m trying the demo module of geospatial in V9 and I notice that the opening of a view that content a WMS distant map generates a JS error.

Odoo Client Error

TypeError: null is not an object (evaluating 'this.baseLayer.wrapDateLine')
http://localhost:8069/web/content/280222-ea63d9a/web.assets_backend.js:4462

Traceback:
zoomToExtent@http://localhost:8069/web/content/280222-ea63d9a/web.as

[2019-03-20 10:21] lonavera commented on #175
I've used the odoo 12 version of the base_geoengine from https://www.odoo.com/apps/modules/12.0/base_geoengine/. But it my tests it showed up various errors, like missing JS-Dependencies because of renamed modules. Is this version still incomplete and work in progress? If so, why is it already in the odoo apps?

[2019-03-20 12:12] guewen commented on #186
What is exactly a WMS distant map? A custom WMS that you added?
If so, can you show what you did?

This error `null is not an object (evaluating 'this.baseLayer.wrapDateLine')` indicates that `baseLayer` is null. At some point in geoengine_view.js / geoengine_widget.js, there is a call to `this.map.addLayer(...)`. This is where you want to be sure that you inject the layer properly.

[2019-03-20 12:32] Killance commented on #186
Hello Guewen,

WMS distant is a raster layer type of base geoengine, not a custom.

Lancelot

[2019-03-21 08:42] yvaucher commented on #186
@Killance Hello,

Thanks for reporting. Could you reproduce it by using ?debug= in the url to have a comprenhensive trace back? Here all libs are concat in common and backend js files which won't tell use much about the error.

IIRC corretly `?debug=assets` did not exist in Odoo 9.0 but according to the doc it should work with simply being in debug mode. https://www.odoo.com/documentation/9.0/howt

[2019-03-21 08:44] yvaucher commented on #175
@lonavera The current state on apps is indeed not ported for version 12.0, you will find a working but work in progress version at #185

[2019-03-21 09:15] Killance commented on #186
Hi @yvaucher,

Thank you for your answer. I obtain another error message in debug mode :

TypeError: null is not an object (evaluating 'this.format.read')
http://localhost:8069/base_geoengine/static/src/js/views/geoengine_widgets.js:135

Traceback:

set_value@http://localhost:8069/base_geoengine/static/src/js/views/geoengine_widgets.js:135:43
http://localhost:8069/web/static/src/js/framework/class

[2019-03-21 13:09] Sixologue commented on #142
[code]

[2019-03-21 13:10] Sixologue commented on #142
help please

[2019-03-21 13:12] Sixologue opened #189 "Odoo Server Error on odoo 12 when i istall the module"
[code]

[2019-03-21 13:24] pedrobaeza commented on #189
Module is not yet migrated to v12. If you are using #185, put there the problem.

[2019-03-21 13:24] #189 closed, assigned to nobody

[2019-03-21 15:08] BenjaHe opened #191 "Error on travis right (9.0)"
Hello,

I created the very simple pull request #190 which failed because the DB user is not allowed to create extension postgis and postgis_topology.

May you merge it or solved the problem?

Thank you

[2019-03-22 06:44] Sixologue commented on #191
Thank you, How could I do it?

Le jeu. 21 mars 2019 à 18:08, BenjaHe <notifications@github.com> a écrit :

[2019-03-22 06:48] Sixologue commented on #189
thank you, how could I do it : about #185?

Le jeu. 21 mars 2019 à 16:24, Pedro M. Baeza <notifications@github.com> a
écrit :

[2019-03-22 07:55] Sixologue commented on #175
thank you Sir @yvaucher it works. :)

[2019-03-22 08:02] lonavera commented on #175
Thank you very much. I'll try it out.

[2019-03-22 08:33] BenjaHe commented on #191
I have no idea of how to accept pull request :-(
I think you need the write access to the project geospatial to do it

[2019-03-22 17:38] yvaucher commented on #191
Approval rules are:

at least 2 approvals and 5 working days
or to fast track 3 approvals.

[2019-03-25 08:04] Sixologue opened #192 "Get started on geoengine module"
I am beginner and I would like to start using base_geoengine please, step for step. Thank you for your attention.

[2019-03-25 08:22] pedrobaeza commented on #192
Sorry, this is an issue tracker for registering issues, not questions. Use forums and mailing lists for that.

[2019-03-25 08:22] #192 closed, assigned to nobody

[2019-03-29 14:41] yvaucher commented on #175
@Sixologue @lonavera A stable version has been merged in branch 12.0
base_geoengine_demo module will follow

[2019-04-09 07:36] #191 closed, assigned to nobody

[2019-04-10 11:15] Sixologue commented on #175
who could help me please to base_geoengine_demo migration to 12.0. Merci

[2019-04-10 11:18] pedrobaeza commented on #175
See #196

[2019-04-10 11:23] Sixologue commented on #175
Very nice, thank you @pedrobaeza

[2019-04-10 11:29] Sixologue commented on #175
My sincere thanks for @yvaucher

[2019-04-11 16:50] babatoko commented on #184
Hi, where are you on this roadmap ? I mean witch phase is the current.

[2019-04-16 12:47] yvaucher commented on #175
@Sixologue #196 is now merged, you can test it directly using runbot (once built)
https://runbot.odoo-community.org/runbot/repo/github-com-oca-geospatial-115

[2019-04-17 12:12] Sixologue commented on #175
I will try it with pleasure, once again thank you @yvaucher

[2019-04-17 12:12] Sixologue commented on #175
Congratulations @yvaucher

[2019-04-23 00:52] brian10048 opened #197 "Edit, Add Multipolygon in web view"
Is there currently a way to draw more than one polygon shape in a multipolygon field? v11 and v12

For example:

### Action:
When editing a field type of MultiPolygon in the web view

### Expected Result
Receive a toolbox allowing to draw multiple polygons on a map which creates a record similar to below picture.
![image](https://user-images.githubusercontent.com/25710115/56543546-bffec280-653f-11

[2019-04-26 07:41] Sixologue opened #198 "[12.0] Selection field UI value are not displayed in the map_info_box"
**base_geoengine_demo 12.0** Why the value of the attributes on _the map_info_box_ (box containing information on the value of the selected point attributes) does not support the modified value ?

[2019-05-02 07:22] Sixologue commented on #198
the error may be in the following code:
[code]

[2019-05-03 21:10] umiphos commented on #198
@Sixologue I'm trying to emulate the error, but I need the steps you are following to reproduce it. Can you provide detailed steps(if posible with images or a video) about this error? thanks in advance.

[2019-05-06 06:16] Sixologue commented on #198
![Capture du 2019-04-24 09-13-58](https://user-images.githubusercontent.com/45819874/57209070-9766d600-6fdf-11e9-807d-77c13c35e64e.png)

[2019-05-06 06:18] Sixologue commented on #198
this error is visible only in base_geoengine_demo migrated in Odoo 12. The migrated version in version 11.0 works fine

[2019-05-06 08:32] Sixologue opened #202 "Use the popup view instead of a new page when I click on InfoBox using Odoo12 with Geoengine"
The following javascript code opens a new page with the click event.How to change the code for a new dialog box popup of the same target form?
[code]

[2019-05-28 15:43] falexandresilva opened #203 "Erro ao acessar contatos"
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo/http.py", line 312, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/opt/odoo/odoo/tools/pycompat.py", line 87, in reraise
    raise value

[2019-06-01 16:52] emagdalenaC2i commented on #156
Please, check geoengine_swisstopo @asaunier #188 that is already merged

[2019-06-04 13:46] pedrobaeza commented on #203
Can you try on runbot to see if you have the same error?

[2019-06-04 18:41] falexandresilva commented on #203
I already solved, was an update error. Thanks.

[2019-06-04 18:41] #203 closed, assigned to nobody

[2019-06-11 11:04] wanteex commented on #142
Hi guys !
I have the same problem, Has anyone come up with a solution? :)

[2019-06-13 14:29] WeeDom opened #204 "lxml.etree.XMLSyntaxError: Document is empty, line 1, column 1"
Setup
odoo 12 enterprise edition (retrieved 7th June 2019)
in a docker swarm with debian:stretch as the base
camptocamp/postgres:10.2 db

Steps to reproduce
* Start with non-existent database
* start odoo in container with `odoo --logfile=/var/log/odoo/odoo-server.log --dev=all` - db is specified as msuk12_e in odoo.conf but we're going to create it
* go to gui. Enter db details and password from

[2019-06-13 14:50] WeeDom commented on #204
stepping through with the pdb, I get to here and there's a document

`> /usr/lib/python3/dist-packages/odoo/addons/base/models/ir_ui_view.py(767)read_combined()
-> view_arch = etree.fromstring(view_data['arch'].encode('utf-8'))
(Pdb) view_data
{'arch': '\n                <xpath expr="//filter[@name=\'my_sale_orders_filter\']" position="replace">\n                    <separator/>\n

[2019-06-13 15:02] WeeDom commented on #204
when I loop round that function again (it recursively applies inheritance?) my odoo seems to stop. Re making the cache?

[2019-06-14 10:17] WeeDom commented on #204
nothing to do with geospatial. Sorry - it's my custom code that's broken.

Apologies

[2019-06-14 10:17] #204 closed, assigned to nobody

[2019-07-01 14:05] yvaucher commented on #142
@wanteex a work around in 12.0 is to comment the line
https://github.com/OCA/geospatial/blob/12.0/base_geoengine/__manifest__.py#L35

See my message https://github.com/OCA/geospatial/issues/142#issuecomment-307362043

The init hook is just there to try to prepare the database.
It is weird that the CI doesn't catch this error.

[2019-07-13 05:35] gitlcp opened #206 "[12.0] base_geoengine_demo fails to install"
![TIM图片20190713053438](https://user-images.githubusercontent.com/34472501/61167533-07ab4e00-a573-11e9-813f-8dfd5b217453.png)
helpe me ,thanks you

[2019-07-13 10:34] pedrobaeza commented on #206
Are you trying on OCA runbot?

[2019-07-14 04:35] gitlcp commented on #206
no @pedrobaeza

[2019-07-14 04:41] gitlcp commented on #206
I'm just running the source code for odoo12 locally. @pedrobaeza

[2019-07-14 08:58] aaakevin opened #207 "[12.0] base_geoengine Installation Issues"
module: base_geoengine, base_geoengine_demo
version: 12.0

Problem:
- Follow module installation of base geoengine, but fail to install on Odoo12C and Odoo12E;

Below is the error screenshot while install geo modules.
Please advise solution of installation.
Many thanks!

![图片](https://user-images.githubusercontent.com/9838403/61181360-30f1da00-a658-11e9-8e55-02fdb03ff799.png)

[2019-07-15 03:16] aaakevin opened #208 "Feel this module is not compatible on odoo12?"
![图片](https://user-images.githubusercontent.com/9838403/61194089-eae95480-a6f1-11e9-8789-5fe9ec1a960f.png)

[2019-07-15 07:20] pedrobaeza commented on #208
It's compatible and working. You can try it in https://runbot.odoo-community.org/runbot/115/12.0. Check your deployment method.

[2019-07-15 07:20] #208 closed, assigned to nobody

[2019-07-19 12:18] brian10048 commented on #206
@pedrobaeza This is also happening on the runbot.  I just rebuilt the 12.0 branch and the same error occurs

`Traceback (most recent call last):
  File "/home/odoo/odoo-12.0/odoo/service/server.py", line 1116, in preload_registries
    registry = Registry.new(dbname, update_module=update_module)
  File "/home/odoo/odoo-12.0/odoo/modules/registry.py", line 86, in new
    odoo.modules.load_modules(r

[2019-07-19 12:30] yvaucher commented on #206
@gitlcp according to https://github.com/OCA/field-service/pull/258#issuecomment-508414478 the issue comes from an Odoo commit and the fix has been merged since.

Did it solve your issue?

[2019-07-19 12:36] brian10048 commented on #206
@yvaucher that commit was merged about 15 days ago.  Would the OCA runbot be using the updated Odoo code by now?  I haven't tried myself locally with up to date Odoo, but the OCA runbot I rebuilt about an hour ago is still having this error https://runbot.odoo-community.org/runbot/build/3379120

[2019-07-19 12:36] yvaucher commented on #197
IIRC this is not implemented. You can only import multi polygons or multi lines objects.

If you need such edition with precision like in your image you might prefer to use an other tools to generate the geometries.

[2019-07-19 12:55] yvaucher commented on #206
@brian10048

OCA runbot uses oca/OCB which is synchronized with odoo/odoo at worst it could be 24 hours behind, it's unlikely that it 15 days behind. Just checked it and it seems still working fine. Thus, it's not fixed :disappointed:

In the runbot you linked I see external ids for other modules, thus it could be the type of field with geo fields that doesn't trigger the xml id generation somehow

[2019-07-21 03:43] gitlcp commented on #206
When the new odoo source is referenced, the installation is successful

[2019-07-26 21:33] max3903 commented on #206
@brian10048 We must be doing something wrong in `fieldservice_geoengine`. There is no XML ID of the new `fsm.location` and `fsm.order` fields (shape).

[2019-07-26 21:46] max3903 commented on #206
@brian10048 Here is my attempt to fix this bug: https://github.com/OCA/field-service/pull/299

[2019-07-26 21:52] brian10048 commented on #206
@gitlcp it seems this has been resolved for you.  If so, may this be closed?

Thanks @max3903. I will check it out over there soon

[2019-07-28 13:03] brian10048 commented on #206
@max3903 I did a clean install with up to date Odoo source.  This is still an issue for `base_geoengine_demo` and `fieldservice_geoengine`

As @yvaucher suggested, I commented the lines causing the issue and avoided loading the vector layer records altogether in order to install the module.

After installing, I did an export of the fields data and received the following.  It shows the XML ID for t

[2019-07-29 17:09] max3903 commented on #206
@brian10048 It must be how GeoPoint fields are managed. They show up as custom field instead of base one. @yvaucher Any hints?

[2019-07-29 17:14] max3903 commented on #206
@yvaucher Same issue in the 12.0 branch:
https://travis-ci.org/OCA/geospatial/jobs/564786539#L1045

[2019-08-08 08:24] ares1878 opened #209 "base_geoengine_demo : this.map is null javascript error"
module: base_geoengine
version: 11.0

**Steps to reproduce**
- ...

**Current behavior**
I installed base_geoengine and base_geoengine_demo and cant open geoengine view for ZIP and Retail Machine. I inspect code a little and i see that in geoengine_renderer.js function on_attach_callback not called and when other functions called this.map is null
**Expected behavior**

[2019-08-08 08:30] #209 closed, assigned to nobody

[2019-08-08 08:42] kostakristi opened #210 "[11.0] Javascript error : this.map is null"
module: base_geoengine
version: 11.0

**Steps to reproduce**
- ...

**Current behavior**
I install base_geoengine and base_geoengine_demo. when i open geoengine view in ZIP and Retail Machine nothing showed . if i open list view and try to open geoengine view again error is occured. I inspect code i little bit and i think that on_attach_callback function in file geoengine_renderer.js not executed

[2019-08-12 08:13] gitlcp opened #211 "install base_geoengine_demo has error after uninstall base_geoengine_demo"
![image](https://user-images.githubusercontent.com/34472501/62852454-090b9a00-bd1c-11e9-8719-be1a087d2396.png)

[2019-08-13 07:06] #211 closed, assigned to nobody

[2019-08-13 07:10] gitlcp opened #212 "install base_geoengine_demo has error after uninstall base_geoengine_demo"
![image](https://user-images.githubusercontent.com/34472501/62921749-2c961980-bddc-11e9-9cca-ad56bd0cc319.png)

###  **Install base_geoengine_demo again to see foreign key constraint problem**can you help me,thank you vary much

[2019-08-13 08:02] gitlcp commented on #212
The id of the_geom in ir_model_fields before uninstallation is 2544, but the id is 5430 when uninstalled, so 2455 cannot be found.

![image](https://user-images.githubusercontent.com/34472501/62924889-b09fcf80-bde3-11e9-93d3-851ad3628faa.png)

[2019-09-12 05:50] husain-erpharbor commented on #142
May be You are using the version 11 module of base_geoengine.clone version 10 module of base_geoengine from OCA community.
Here is the link.
https://github.com/OCA/geospatial.git

[2019-09-25 18:35] h-stivalet opened #214 "Import external data"
Hi guys my apologies if this is not the right place to ask for support but I didn't found any oficial place to do that...so well.

I had imported the raw data from a couple of GeoJson format files with SRID 4326 these are polygons from my city with some extra data.

I had changed in base_geoengine/fields.py the SRID:
`_slots = {
        'dim': 2,
        'srid': 4326,
        'gist_index': True,

[2019-09-26 13:57] zbik2607 commented on #198
Bug is in line:
var span = _createFieldSpan(field, key);

should be replaced by:
var span = _createFieldSpan(field, val);

[2019-09-27 16:08] h-stivalet commented on #214
Well if somebody is having the same issue this not the right solution, this is only my temporary workaround:

`Code:

    class ageb(geo_model.GeoModel):
    _name = "geo_data.ageb"
    _rec_name = "ageb"

    ageb = fields.Char(string="AGEB")
    ageb_polygon = geo_fields.GeoPolygon('AGEB POLYGON', srid=4326)
    poblacion = fields.Integer(string="Ploblación")
    indice_marginacion = fields.Sele

[2019-09-29 21:33] OCA-git-bot opened #217 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] base_geoengine - By @tschanzt - #219
- [ ] base_geoengine_demo
- [ ] base_google_map - By @cormaza - #305
- [x] geoengine_base_geolocalize - By @p-tombez  - #251
- [ ] geoengine_bing
- [x] geoengine_partner - By @Tonow-c2c  - #250
- [ ] geoengine_swisstopo - By @TDu https://github.com/OCA/ge

[2019-09-30 07:39] yvaucher commented on #206
The fix #218 should solve this issue. Fields with state `manual` don't have xml ids. And geo fields were wrongly defined as `manual`.

[2019-09-30 08:24] yvaucher commented on #214
@h-stivalet hello, this is the right place.

This very sounds like a mismatch between projection of the vector layer compared to the raster layer.
As you use OSM map layer, it is indeed using EPSG:3857 (former EPSG:900913)
Normally setting the projection on the field should be enough, and the module should do the reprojection for you. If it doesn't that could be a bug.

The code that should manage

[2019-09-30 08:26] yvaucher commented on #212
@gitlcp you probably want to delete the vector layers and raster layers of base_geoengine_demo by hand or by sql querries.

It seems it tries to delete the fields before the views.

[2019-10-03 13:02] #206 closed, assigned to nobody

[2019-10-13 10:33] Rachida-Ouni commented on #63
hello, I'm using geoengine module in my project. I want to display, draw my own devices on the map, but I can't do it with this module. so pls help me

[2019-10-13 10:35] Rachida-Ouni opened #220 "displaying map in geoengine"
hello, I'm using the geoengine module in my project of master degree. I'd like to display my own devices, and draw lines on the map..can you help me to do this something

[2019-10-13 10:44] Rachida-Ouni commented on #220
![Capture d’écran de 2019-10-07 11-14-16](https://user-images.githubusercontent.com/56492852/66714439-370e6880-edb7-11e9-9081-e119b2c8e744.png)

[2019-10-17 14:57] sciallo opened #224 "[12.0] map_info_box shows '[object Object]' for related fields"
This worked on 9.0 it doesn't on 12 (see screenshot)
Model:
[code]
(site_id is a many2one in project.task relating to a sites table with geopoint field)

View:
[code]
![snapshot2](https://user-images.githubusercontent.com/17577898/67020547-5e717800-f0cc-11e9-908a-0601d32efbef.png)

I apologize if it's something obvious.... I'm slowly learning

[2019-10-18 15:58] yvaucher commented on #63
@Rachida-Ouni Please open a new issue and provide more information about what you are trying to achieve.

[2019-10-18 16:36] yvaucher commented on #224
@sciallo Thanks for reporting, which version are you using ? 12.0 ?

EDIT: 12.0 indeed.

[2019-10-18 16:43] yvaucher commented on #220
@Rachida-Ouni reading from your error message I suppose you are creating a field from the interface as it starts with `x_`.

This is currently not supported.

You may want to create your own module using geometry fields.
I suggest you to take the demo module as reference:

https://github.com/OCA/geospatial/tree/12.0/base_geoengine_demo

[2019-10-18 16:50] yvaucher commented on #210
@kostakristi thanks for reporting, I just checked on runbot and cannot reproduce your issue:

Have you tried with a newer version of geoengine?

https://runbot.odoo-community.org/runbot/repo/github-com-oca-geospatial-115

[2019-10-18 16:54] yvaucher commented on #207
Hello @aaakevin some news on this.

This error has most probably been fixed by https://github.com/OCA/geospatial/commit/32f980fa7a0b6b48a6b6f6c5ed687cbebfc79311

[2019-10-18 16:54] #207 closed, assigned to nobody

[2019-10-18 17:06] yvaucher commented on #198
@zbik2607  Makes sense

Otherwise getting the selection value won't work.

https://github.com/OCA/geospatial/blame/12.0/base_geoengine/static/src/js/views/geoengine/geoengine_renderer.js#L51

[2019-10-18 17:06] dek-odoo commented on #214
Sorry, I am late to party, but you can change  EPSG format of coordinates to "urn:ogc:def:crs:EPSG::3857" i.e. 3857 as Yannick suggested. You can convert it online or if you are exporting it from a software like QGIS, you can change EPSG format before exporting.

In addition you can also have a look here -
https://github.com/dek-odoo/odoo-import-scripts/tree/master/gis_geojson_odoo_import - this m

[2019-10-18 17:20] yvaucher commented on #198
Tested and created a PR here #226

[2019-10-18 17:27] yvaucher commented on #142
@husain-erpharbor your link might be obsolet soon as the main branch will be switched to 13.0

[2019-10-18 18:31] Rachida-Ouni commented on #220
hello , Yannick
I will display devices with their attributes on the map in a well-defined
area, in addition, I will draw optical fiber lines on the map ... so layers
are formed on the map.
can you help me pls
thanks

Le ven. 18 oct. 2019 à 18:43, Yannick Vaucher <notifications@github.com> a
écrit :

[2019-10-18 18:38] Rachida-Ouni opened #227 "geoengine"
hello,
I will display devices with their attributes on the map in a well-defined area, in addition, I will draw optical fiber lines on the map ... so layers are formed on the map.
I will use the geoengine module to create the fiber optic network of a company ...
this network contains equipment of different types ..
this equipment must be classified for example: the access network equipment layer c

[2019-10-31 11:10] sciallo commented on #224
is this related to #198 ? Should I need to create new related fields in my model as a work around or can it be fixed to work like it used to?

[2019-12-13 04:17] aaakevin commented on #207
Thanks for your information.

[2019-12-13 04:18] aaakevin commented on #207
Thank you for your information.

[2020-01-13 17:18] yvaucher opened #241 "web_view_google_map needs linting"
This module currently raises 1240 warnings in travis.

Anyone willing to clean that up?

[2020-01-13 17:20] yvaucher commented on #241
cc @max3903 @dreispt @murtuzasaleh

Edit: just added you to the issue as you know how this module works.

[2020-01-13 17:39] #198 closed, assigned to nobody

[2020-01-13 18:06] #224 closed, assigned to nobody

[2020-01-14 15:21] sciallo opened #242 "[12.0] Colored geo repr not working with Many2one fields"
All records have the same value for user, they show different colors.
Same with another field same colors... I'm guessing the filter is getting objects instead of values...

.py:
[code]
.xml:
[code]
![image](https://user-images.githubusercontent.com/17577898/72356622-8c5c5d80-36b7-11ea-95d7-2ec9f1ace660.png)

[2020-01-15 12:58] yvaucher commented on #242
@sciallo So you mean that in field `user_id` you have the same user for each records?

User field set here:
`<field name="attribute_field_id" ref="project.field_project_task__user_id"/>`

I haven't tested with something else than a string or an integer, I would have guess that you would have the id instead of an object.

Let's put it as a bug.

For a quick workaround, you can create a related fiel

[2020-01-15 13:02] yvaucher commented on #242
@sciallo I understand that by related field you mean relation field like Many2one.

In my last message I'm referring to related fields as in Odoo documentation.
https://www.odoo.com/documentation/12.0/reference/orm.html#field-related

[2020-01-15 13:08] yvaucher commented on #227
Hello @Rachida-Ouni , sorry for not responding earlier. You might want to narrow your questions to more specific questions.
Are you having trouble to create a module with an odoo objects that has a GeoLine field?

[2020-01-15 13:08] #220 closed, assigned to nobody

[2020-01-15 16:30] sciallo commented on #242
Thank you @yvaucher,

I will try the workaround you suggest, I'm guessing I'll have to create a related field for each of the fields I'm trying to "colorize"...

You are correct on all statements above: you can see the filters in my screenshot, I'm showing tasks that are my own and have the same stage. both colorize by user and by stage show the same color combinations (all different).

I'm convin

[2020-01-16 09:16] dreispt commented on #241
Is there any tool that can be used for that?

[2020-02-12 19:21] amh-mw commented on #217
I notice that base_google_map is not on this list and is missing from the 13.0 branch? Is that something that I could help with?

[2020-02-12 19:29] brian10048 commented on #217
@amh-mw, I would suspect your efforts to migrate that to 13 will be much appreciated by everyone else here

@murtuzasaleh @max3903 - any of your team already working on this migration?

[2020-02-27 09:11] lizhi2013 opened #245 "Is it possible to add geoengine with an SQL view model?"
my model is like this :
sql="""

CREATE OR REPLACE  VIEW xxxxx AS (
     XXXX
）
"""
class view_xxxx(models.Model):
    _name = 'view_xxxx'
    _description = u'view_xxxx'
    _auto = False
....
    def init(self):
        tools.drop_view_if_exists(self._cr, 'xxxxx')
        self._cr.execute(sql)

    @api.model
    def _migrate_update(self):
        tools.drop_view_if_exists(self._cr, 'xxxxx')

[2020-02-27 09:13] lizhi2013 commented on #245
I can query all the properties from an geo_model.GeoModel  object  in the database view

[2020-02-27 09:36] yvaucher commented on #245
@lizhi2013 do you have a full stack trace? Which version of Odoo are you using?

I never tried to create an SQL view with geoengine, so I don't know if it ever worked. But we definitely want that to be possible.

[2020-02-27 09:41] yvaucher commented on #217
@amh-mw `base_google_map` was added in 12.0 after this post has been created.

I'll add it to the list.

[2020-02-27 10:09] lizhi2013 commented on #245
@yvaucher  thank you very much ,i use odoo v10

[2020-02-27 10:13] lizhi2013 commented on #245
i only can do in code and sql like this ....
sql="""
CREATE OR REPLACE  VIEW .... AS (
       select  .....
       b.lon,
       b.lat,
       b.maplonlat,
       b.maplon,
       b.maplat,
       b.geo_point,
       b.geo_multiline,
      ....
        )
        """

    #gps info  this info is from and geo_model.GeoModel
    lon = fields.Float(string='Longitude',digits=(20,15), )
    lat = fields

[2020-02-27 10:14] lizhi2013 commented on #245
i can full stack trace now

[2020-02-28 02:11] lizhi2013 commented on #245
I read the code, I understand the principle of geoengine a bit, geo_model.GeoModel will inherit the original model, and then automatically add some attributes to the principle object, so it will necessarily involve the modification of the model database table, and the database view It ca n’t be modified, so it will be wrong, so I understand that my needs should be a requirement. Can I achieve the

[2020-03-02 15:44] yvaucher commented on #245
In version 10.0 the GeoModel inherits in a python way from `models.BaseModel` [1] which means you should be able to use is the same way as `models.Model` with additional methods related to postgis. [2]

If I understand what you are trying to do is to define `geo_point` and geo_multiline`
Reading from your code what you want is a geo_field. [3] Then, it means your SQL query needs to transform your

[2020-03-10 19:09] EBII opened #247 "[12.0] Field `geo_point` does not exist may create geofields"
hello
i try to port geoengine_partner from 11 to 12.
all seems ok but never create the fields

Field `geo_point` does not exist
so in model just this
class ResPartner(geo_model.GeoModel):
    """Add geo_point to partner using a function filed"""
    _inherit = "res.partner"
    geo_point = fields.GeoPoint("Address coordinates")

try on other model with partner_id = fields.Many2one(comodel_name='re

[2020-03-11 10:01] yvaucher commented on #247
@EBII Since 12.0 we use the base model inheritance. Thus, you need to change `geo_model.GeoModel` to `models.Model`

Have a look at the demo module:
https://github.com/OCA/geospatial/blob/12.0/base_geoengine_demo/models/retail_machine.py

[2020-03-11 15:06] EBII commented on #247
hello,
Thanks @yvaucher, i saw that but trouble still here..
i change 2 thinks to install correctly so i can not say...

-  AddGeometryColum is mark as deprecated so i replace in geo_db.py with
https://postgis.net/docs/AddGeometryColumn.html
sql = ("ALTER TABLE {} ADD COLUMN {} geometry({},{})".format(tablename,columnname,geotype,srid))
cr.execute(sql)

- geo_point to geo_partner because it seems

[2020-03-11 15:06] #247 closed, assigned to nobody

[2020-03-19 23:10] fdoangulo commented on #142
I´m having the same error in odoo 12, with postgresql 12 and postgis 3.0.1

If I try the work around suggested by @yvaucher and comment line 35 in __manifest__.py and install extensions by hand, I get another error: "srid field does not exist".

Any suggestion?

[code]

[2020-03-20 17:14] fdoangulo commented on #142
SOLVED: postgresql 12 has important changes from version 11. Instlling postgresql version 11 solves the problem.

[2020-03-21 22:33] fdoangulo opened #249 "Uncaught TypeError: Cannot read property 'tooltip' of undefined"
Odoo 12-CE - Installations from scratch
Postgresql 11
Postgis 3.0.1

I have installed the modules without errors (base_geospatial & base_geospatial_demo). Both downloaded from the OCA apps store.

But when going to the GeoEngine Demo menu, and clicking on the map icon, the map doesn't loads.

I have a Docker installation with two containers: one for the web, and another for the db. The Shapely and

[2020-03-22 19:16] fdoangulo commented on #249
Seems the problem is that the OCA appstore module is outdated and gives problems with curren packages.
To solve the problem I just had to download the Github code and install the module.

[2020-03-22 19:16] #249 closed, assigned to nobody

[2020-04-16 09:51] MagnusKriel opened #252 "[12.0] Assertion failed. See https://openlayers.org/en/v3.20.1/doc/errors/#25 for details"
Specified a map view using this XML definition:
`  <record id="geo_data_point_map_view" model="ir.ui.view">
    <field name="name">Geo Data Point Map View</field>
    <field name="arch" type="xml">
      <geoengine>
          <field name="geo_point"/>
      </geoengine>
    </field>
    <field name="model">geo.data.point</field>
    <field name="default_extent">18344886.788442, -5943743.319455, 19

[2020-04-17 05:41] MagnusKriel commented on #153
Hi,
This seems to be broken still. Anyone planning to get this fixed?
(I'm using Odoo 11)

[2020-04-22 22:23] MagnusKriel commented on #252
Found the cause of this issue:
in geoengine_widgets.js, line 121 (Odoo12 branch):
`_updateMapEmpty: function () {
            var map_view = this.map.getView();
            // Default extent
            if (map_view) {
                var extent = this.defaultExtent.split(', ');
                map_view.fit(extent, {maxZoom: this.defaultZoom || 5});
            }
        },`
The extent is a list o

[2020-04-26 05:47] skh-sw opened #253 "Error in Map view after adding the API key in configuration"
After I add the API key in configurations, the following error is encountered when we switch to the map view of contacts.

Error:
Uncaught TypeError: Cannot read property 'equals' of undefined

http://localhost:1220/web/content/393-528d8f1/web.assets_backend.js:3415
Traceback:
TypeError: Cannot read property 'equals' of undefined
    at http://localhost:1220/web/content/393-528d8f1/web.assets_back

[2020-05-08 05:57] TDu commented on #217
Hello, I just open a PR #255 for the migration of geoengine_swisstopo to 13.0

[2020-05-15 21:24] yvaucher commented on #142
@fdoangulo ok, thanks for the feed back.

Usually we want to support the psql version that Odoo officially supports.
In the context of OCA we run our tests only on postgres 9.6. It should work though on more recent versions.

To know against which version of postgres we are running our tests, you can check in the `.travis.yml`:

https://github.com/OCA/geospatial/blob/24e5832b6807f2757a9f12e26c3cff

[2020-05-15 21:27] yvaucher commented on #137
Please see #142

[2020-05-15 21:27] #137 closed, assigned to nobody

[2020-05-15 21:33] yvaucher commented on #252
@MagnusKriel nice catch!

Shouldn't be too hard to fix.

For the default extent, would make sense to place it at 0,0 and move the europe default_extent in the geoengine demo module.

[2020-05-20 07:49] TDu commented on #253
Hello @skh-sw , could you be more precise by giving the module name and version that is causing you some trouble.
Also it seems that the error happens in the javascript so enabling debug with assets could help with the stack trace.
Thank you

[2020-05-25 09:05] lizhi2013 commented on #245
thank

[2020-05-25 09:05] #245 closed, assigned to nobody

[2020-05-25 09:05] lizhi2013 commented on #245
thank @yvaucher  very much

[2020-06-03 13:30] TLmaK0 opened #258 "AttributeError: module 'odoo.fields' has no attribute 'GeoPoint'"
I'm trying to add a GeoPoint to an existing model in odoo 12 addon with:

[code]
I have installed base_geoengine from https://apps.odoo.com/apps/modules/12.0/base_geoengine/
and added ```base_geoengine``` to my ```__manifest__``` dependencies. But as soon I have started the odoo server it raises:

`AttributeError: module 'odoo.fields' has no attribute 'GeoPoint'`

[2020-06-19 13:55] lmignon opened #263 "Pending forward ports"
## From 10.0
* [x] [10.0][MIG] geoengine_base_geolocalize migration #155
* [x] [10.0][IMP] base_geoengine: allow custom configuration on layer opacity #261

[2020-07-13 17:15] yvaucher opened #266 "Lint won't complain anymore for querries built with psycopg2.sql"
https://github.com/OCA/pylint-odoo/pull/287

`base_geoengine` can be adapted accordingly.

[2020-07-13 17:17] yvaucher commented on #263
Closing as both were merged

[2020-07-13 17:17] #263 closed, assigned to nobody

[2020-07-13 17:25] yvaucher commented on #258
The apps module should be synced with github. Thus you should have the last version.
And your code seems correct to me.

It seams that `base_geoengine` is somehow not loaded.

Maybe you can try to install `base_geoengine_demo` to compare. If this module doesn't install it's an issue on your installation (module not loaded or missing), if the module installs, you have an error somewhere in your cus

[2020-07-13 17:29] yvaucher commented on #253
@skh-sw impossible to tell without more information, as @TDu said the debug mode is necessary to spot which line of javascript is the trouble maker.

[2020-07-13 17:30] #227 closed, assigned to nobody

[2020-07-15 12:52] abdalmola-apps opened #267 "Change Style map"
how to change style map to satellite  ??

[2020-07-24 21:56] hyzoom opened #269 "Show multiple fields type on the same map"
Hi,

There is geo_fields.GeoPoint which represents point on map and geo_fields.GeoMultiPolygon which represents polygon shape on the map
Is there is any way to show polygon and multi points at the same map view?

Regards

[2020-10-04 10:29] OCA-git-bot opened #272 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] base_geoengine - By @Urvisha-OSI - #316
- [ ] geoengine_base_geolocalize
- [ ] geoengine_partner
- [ ] geoengine_swisstopo
- [ ] test_base_geoengine
- [ ] web_widget_google_marker_icon_picker - By @AmmarOfficewalaSerpentCS - #293

Missing module? Check https://github.com/OCA/maintainer-tools

[2020-10-26 13:14] ecino commented on #175
geoengine_base_geolocalize #273
geoengine_partner #274

[2020-10-29 21:14] Alex3132 opened #275 "AssertionError: Field ir.model.fields.dim with non-str value in selection"
I try to install base_geoengine on my localhost but i have this error, I use odoo 13 and I am a begineer with odoo and I don’t see what lines I have to change to avoid this error

`Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo13/odoo/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo13/odoo/od

[2020-12-02 12:17] hyzoom opened #278 "Backup database with postgis and restore it in another instane"
Hi
I have the following scenario
- installing odoo 10 instance, install the required packages and postgis extension
- take database backup from this instance and try to restore it in another instance
- database is corrupted even if I added extension to the new database

What shall I do to prevent database corruption after restore in the new instance?

Thanks

[2020-12-11 12:28] EBII commented on #272
hello !
about geoloc partner. in 12.0
there is no anymore
`@api.depends('partner_latitude', 'partner_longitude')
    def _set_geo_point(self):
`
that was on base_geoengine_geolocalize
and needs 2 more fields

so i guess we use base_geolocalize from odoo.
and geoengine_partner doesn't depends on any geolocalize that add partner_latitude and partner longitude
so in 12 the modules geoengine_partner c

[2021-02-07 04:01] cristhianclv70 opened #283 "How to use Distant wms"
como usar Distante wms

Hello, I am seeing the d_wms option in Odoo 12, and I cannot configure it I have tried to add a geoserver wms, please help,

[2021-02-13 13:13] shurshilov commented on #272
Hi I am ported to 14 version base_geoengine main module, please merge it
https://github.com/OCA/geospatial/pull/284

[2021-02-13 18:26] shurshilov commented on #272
Please make it as fast as possible so that my clients who buy modules can download it, also please add me to the authors of the module, since I spent a lot of time on porting

[2021-02-18 15:24] legalsylvain opened #285 "[RFC] geoengine_partner : geo_point not linked to partner_latitude / partner_longitude fields"
Hi all.

First, thanks for all the geospatial modules I'm just discovering.

I have a naive question : AFAIK :
- the odoo/addons module ``base_geolocalize`` introduces 2 fields.Float (``partner_latitude``, ``partner_longitude``). ([Ref Code](https://github.com/odoo/odoo/blob/12.0/addons/base_geolocalize/models/res_partner.py#L62)). Those fields can be computed from the adress of the partner (via g

[2021-03-04 10:52] treviser opened #286 "[Doc]Amendment to the Installation description"
It took me a while to find out the reason and to fix it, therefore I'm asking to include the following in the installation description:

Database backup using the GUI (/web/database/manager) fails, if the necessary privileges are not granted to the database user odoo:

``GRANT ALL PRIVILEGES ON SCHEMA topology TO odoo;

GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA topology TO odoo;

GRANT ALL PRIV

[2021-03-08 10:47] Bhathu30 commented on #258
Even me also facing the same issue "**AttributeError: 'GeoPoint' object has no attribute 'dim'**". can anyone help me to find it out.

[2021-03-09 15:44] yvaucher commented on #258
@Bhathu30 your issue seems unrelated.

In your case it's the attribute's attribute that is not available.

Do you have a more complete stack trace on the issue?

[2021-03-09 15:47] yvaucher commented on #278
I have some doubts it's related to PostGIS, maybe more postgres. And how the dump was created.

You should check on Postgres community instead.

[2021-03-09 16:01] yvaucher commented on #283
I'm afraid this option is a dead option on the Raster layer there is no code associated with `d_wms` option.

When selection `d_wms` it was showing the `url` field. But the visibility of the `url` field was changed with introduction of the wmts feature. I doubt if it has even been implemented in the past.

Changed in 22ae3b79fbfc373a2aeae2b1b4e096b9bc732dde

[2021-03-09 16:07] yvaucher commented on #285
@legalsylvain , you are right geo_point is a position. In addition it carries the projection in srid. Whereas I assume `partner_longitude` and `partner_satitude` contains always GPS data.

You might want to check on 13.0 branch:
https://github.com/OCA/geospatial/blob/13.0/geoengine_base_geolocalize/models/res_partner.py#L81

EDIT: bad link

[2021-03-09 16:25] legalsylvain commented on #285
Hi @yvaucher. Thanks a lot for mentionning ``geoengine_base_geolocalize``. it seems to be the bridge I was looking for.

If I understand correcty with a lattitude and longitude, this module compute a GeoPoint, but the reverse is not True.
So for the module you are mentionning, Geopoint is so readonly.

I'll backport this module in V12 so.

thanks.

[2021-03-09 16:55] yvaucher commented on #285
The Geopoint is a computed field in that case, thus yes, readonly.
What is missing is a reverse function.

It probably requires to read the geopoint and transform it to GPS (EPSG:4326).

with pyproj:

https://pyproj4.github.io/pyproj/stable/api/proj.html?highlight=transform#pyproj.Proj.transform

[code]

`<TBD>` Not sure how to transform the `srid` to `epsg` but I'm sure an other lib is there to d

[2021-03-10 18:10] brian10048 commented on #217
`base_google_map` migration at #287

[2021-03-15 20:26] brian10048 commented on #184
#264 is a start for Phase 3: route optimization and distance calculation.  This PR needs review

[2021-03-24 00:16] hyzoom commented on #278
Thanks

The problem is restoring with non postgres superuser so there were corruption somehow in accessrights, I dont know!
BTW when I gave the user who restore the db superuser it worked fine

[2021-03-24 07:15] #278 closed, assigned to nobody

[2021-06-07 16:16] inakiAS opened #296 "how to display a report template with a point on the map"
to display a map in a form we use `<field name="geo_point" widget="geo_edit_map" />`

how to use it for a pdf report ?

[2021-09-15 10:30] AbdulMaroofYousfani opened #298 "Geospatial All Customer Map view does not display Map Cordinates"
Geospatial All Customer Map view does not display Map Cordinates

[2021-09-20 06:29] guille-mp opened #299 "WMS service"
I am trying to connect with a wms service.
It works in other applications but not with geospatial.
As soon as i change the geospatial configuration to set distant WMS in one of the raster layers, the map disappears.

Odoo version: 12.0

[2021-10-17 10:15] OCA-git-bot opened #300 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] base_google_map

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2021-11-28 20:01] cristhianclv70 opened #301 "Change projection in ir.ui.view error getExtent"
Hello I am having a problem when in the view "ir.ui.view" I change the projection from EPSG: 3857 to EPSG: 32717, since by default it is created with projection 3857, however I want to work with 32717

when opening the field_geo form, the error it presents is:

"Uncaught TypeError: projection.getExtent is not a function"

[2021-11-28 22:14] cristhianclv70 commented on #214
Hello, have you been able to solve it in any way?

[2021-12-06 02:04] #283 closed, assigned to nobody

[2021-12-06 02:29] cristhianclv70 commented on #301
I rephrase my question:

I'm using
the_geom = fields.GeoPolygon ('Estate', srid = 32717)

But when presenting on the map, my polygons present them in another location.
and in my "ir.ui.view" it is with Projection EPSG: 3857

![projection](https://user-images.githubusercontent.com/45044175/144777533-feaa5d21-a387-41c4-8960-fff468bcdbe5.png)

[2021-12-18 12:50] dek-odoo commented on #214
Yes, it is absolutely possible.

[2022-02-13 07:44] sciallo commented on #242
2 years later I'm still as green as I was then.

I have been unable to "colorize" any fields on my map and I haven't been able to make it work creating a related field. I gave up on it then. I could really use that feature now. Any thoughts?

[2022-03-15 04:17] #52 closed, assigned to nobody

[2022-03-15 06:03] cluzonek commented on #214
Hello, in my case, it happens that when I create the SRID and I want to show my map with OpenStreetMap, the polygons and points are shown in another location, maybe something is missing,

I am currently defining the field as follows:

the_geom = fields.GeoPolygon('Predio',srid=32717)

[2022-03-15 06:04] cluzonek commented on #214
Hello, in my case, it happens that when I create the SRID and I want to show my map with OpenStreetMap, the polygons and points are shown in another location, maybe something is missing,

I am currently defining the field as follows:

the_geom = fields.GeoPolygon('Predio',srid=32717)

[2022-03-15 06:07] cristhianclv70 commented on #214
Hello, in my case, it happens that when I create the SRID and I want to show my map with OpenStreetMap, the polygons and points are shown in another location, maybe something is missing,

I am currently defining the field as follows:

the_geom = fields.GeoPolygon('Predio',srid=32717)

[2022-03-17 12:41] dek-odoo commented on #214
You need the correct EPSG format probably, you need to make sure both coordinates use same EPSG, both means: 1: Odoo/OCA modules using 2: coordinates you are supplying

So if both EPSG formats are same then issue should not happen.

[2022-05-09 17:24] jayo2005 opened #306 "Which version of Odoo?"
Which version of Odoo has the best addons for geospatial & FSM. Should I go with V14? Version 12 looked like there were more addons etc.

[2022-07-29 14:10] geelaniconsultancy commented on #300
Hello,
Please let us know if there is any progress on migrating the geospatial to odoo 14 or odoo 15?
Thank you.

[2022-10-03 16:22] sbidoul opened #314 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list
- [x] base_geoengine - By @kouffsamuel - #338
- [ ] base_geoengine_demo - By @kouffsamuel - #329
- [x] geoengine_base_geolocalize - By @sbejaoui - #332
- [x] geoengine_partner - By

[2022-10-17 03:22] Jake-Tong-Epiklah opened #315 "Problem when installing base_geoengine on Odoo14"
## Module
Base_geoengine

## Describe the bug
When I tried to install base_geoengine to get the mapping features for Field Service Management, it gives me the error like below:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo14/odoo/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/opt/odoo14/odoo/odoo/http.py", line

[2022-11-24 14:15] CorridorAppalachien-Admin opened #317 "Can I embed a geoengine view in a form view?"
Use case: I would like to display geometries related to records from a Many2many field.
"geo_edit_map" widget displays a single record.

Ideally, I would embed the geoengine view inside a form view and apply a domain to the geoengine view according to the Many2many field. Is this possible?